//Форма подписки для сайта landing-business.hw
/*form-subscribe*/
.form-subscribe {
   &__txt {
       margin: 0;
       color: $c-light;
       font-size: 15px;
       font-family: $f-normal;
       
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {font-size: 0.87rem;}
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {font-size: 5.2vw;}
   }
   &__field {
       margin: 25px 0 0 0;
       padding: 20px 20px 20px 20px;
       border: 0;
       outline: 0;
       width: 66%;
       background-color: $c-dark;
       color: $c-light;
       font-size: 17px;
       
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {
           padding: 18px 18px 18px 18px;
           width: 500px;
           font-size: 0.87rem;
       }
       
       //медиа-запрос смартфон
       @media (max-width: $bp-smartphone ){
           padding: 16px 16px 16px 16px;
           width: 75%;
       }
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {
           margin: 10% 0 0 0;
           padding: 5vw 5vw 5vw 5vw;
           width: 80%;
           font-size: 5vw;
       }
   }
::-webkit-input-placeholder {
    color:#979797;
    font-size: 14px;
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {font-size: 0.81rem;}
    
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
}
::-moz-placeholder {
    color:#979797;
    font-size: 14px;
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {font-size: 0.81rem;}
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
}
:-moz-placeholder {
    color:#979797;
    font-size: 14px;
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {font-size: 0.81rem;}
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
}
:-ms-input-placeholder {
    color:#979797;
    font-size: 14px;
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {font-size: 0.81rem;}
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
}
::placeholder {
    color:#979797;
    font-size: 14px;
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {font-size: 0.81rem;}
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
}
&__btn-subscribe {
    margin: 20px 0 0 0;
    padding: 18px 34px 18px 34px;
    font-size: 17px;
    color: $c-light;
    font-family: $f-bold, sans-serif;
    background-color: #2a2a2a;
    border: 2px solid $c-dark;
    border-radius: 4px;
    transition: 0.5s;
    
    &:hover {border: 2px solid $c-accent;}
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {font-size: 0.93rem;}
    
    //медиа-запрос смартфон
    @media (max-width: $bp-smartphone ){padding: 15px 31px 15px 31px;}
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {
        margin: 10% 0 0 0;
        padding: 5% 10% 5% 10%;
        font-size: 5.5vw;
        
    }
}
   
}

