//Форма подписки связи для сайта landing-business.hw
/*form-subscribe*/
.form-subscribe {
    &__txt {
        color: $c-light;
        font-size: 15px;
        font-family: $f-normal;
    }
   &__field {//Остоновился
   }
   &__btn-subscribe {}
   
}

