//Список расширенный для сайта landing-business.hw
/*list-extended*/
.list-extended{
    padding: 0;
   &__item {
       margin: 0 0 40px 0;
       list-style-type: none;
       display: inline-block;
       box-shadow: 0px 0px 1px 0px;
       border-radius: 2px;
       background-color: $c-light;
   }
   &__item:last-child {margin: 0;} 
   &__box-img {display: inline-block;}
   &__pic {
       width: 336px;
       height: 236px;
       vertical-align: bottom;
   }
   
   &__block-number {
       //позиционирование block-number
       vertical-align: 85px;
       position: relative;
       right: 62px;
   }
   &__desc {
       display: inline-block;
       width: 554px;
       vertical-align: 80px;
       &_position_right{
            position: relative;
            right: 35px;    
       }
       &_position_left{
            text-align: right;
            position: relative;
            left: 30px;
       }
    //медиа-запрос для UHD экранов
    //также позволяет в браузерах Chrome, Opera хорошо отображаться
    //содержимому списка при зуме 33% , 25% (Ctrl -) 
    //@media (min-width: 5120px ) {vertical-align: 0; }
    //@media (min-width: 5900px ) {vertical-align: 0; }
       
   }
   &__title {
       margin: 0;
       font-family: $f-bold, sans-serif;
       font-size: 18px;
   }
   &__txt {
       margin: 15px 0 0 0;
       font-size: 14px;
    }
}
   //block-number
@import "app/sass/blocks/block-number/_block-number.scss";

