//Extended list for the site landing-business.hw
/*list-extended*/
.list-extended {
  padding: 0;

  &__item {
    margin: 0 0 40px 0;
    list-style-type: none;
    display: inline-block;
    box-shadow: 0px 0px 1px 0px;
    border-radius: 2px;
    background-color: $c-light;
    width: 100%;
    height: 235px;
    position: relative;

    @media (max-width: $bp-netbook) {
      padding: 5% 3% 0% 3%;
      width: auto;
      height: 450px;
    }

    @media (max-width: $bp-smartphone) {
      padding: 8% 3% 0% 3%;
      width: 100%;
    }

    @media (max-width: $bp-smartphone-sm) {
      padding: 10% 3% 3% 3%;
    }
  }
  // &__item:hover {
  //   &:hover {
  //     &::after {
  //       background-color: $c-green;
  //       transition: background-color 0.1s linear;
  //     }
  //   }
  // }
  &__item:nth-child(1) {
    background-image: url(../img/camera-2x.png);
    background-repeat: no-repeat;
    background-position: left top;

    @media (max-width: $bp-netbook) {
      background-position: center 30%;
    }

    @media (max-width: $bp-smartphone) {
      background-position: center 1%;
    }
    &::after {
      content: "1";
      @include block-number-after;
      top: 61px;
      left: 285px;
      @media (max-width: $bp-netbook) {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        bottom: 200px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
    &::before {
      content: "step";
      @include block-number-before;
      top: 119px;
      left: 319px;
      @media (max-width: $bp-netbook) {
        top: 235px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        top: 135px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
  }
  &__item:nth-child(2) {
    background-image: url(../img/track-2x.png);
    background-repeat: no-repeat;
    background-position: right top;
    @media (max-width: $bp-netbook) {
      background-position: center 30%;
    }
    @media (max-width: $bp-smartphone) {
      background-position: center 1%;
    }

    &::after {
      content: "2";
      @include block-number-after;
      top: 63px;
      right: 290px;
      @media (max-width: $bp-netbook) {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        bottom: 200px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
    &::before {
      content: "step";
      @include block-number-before;
      top: 119px;
      right: 319px;
      @media (max-width: $bp-netbook) {
        top: 235px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        top: 135px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
  }
  &__item:nth-child(3) {
    background-image: url(../img/table-2x.png);
    background-repeat: no-repeat;
    background-position: left top;
    @media (max-width: $bp-netbook) {
      background-position: center 30%;
    }
    @media (max-width: $bp-smartphone) {
      background-position: center 1%;
    }

    &::after {
      content: "3";
      @include block-number-after;
      top: 63px;
      left: 285px;
      @media (max-width: $bp-netbook) {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        bottom: 200px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
    &::before {
      content: "step";
      @include block-number-before;
      top: 130px;
      left: 319px;
      @media (max-width: $bp-netbook) {
        top: 235px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        top: 140px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
  }
  &__item:nth-child(4) {
    background-image: url(../img/work-2x.png);
    background-repeat: no-repeat;
    background-position: right top;
    @media (max-width: $bp-netbook) {
      background-position: center 30%;
    }
    @media (max-width: $bp-smartphone) {
      background-position: center 1%;
    }

    &::after {
      content: "4";
      @include block-number-after;
      top: 63px;
      right: 290px;
      @media (max-width: $bp-netbook) {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        bottom: 200px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
    &::before {
      content: "step";
      @include block-number-before;
      top: 130px;
      right: 319px;
      @media (max-width: $bp-netbook) {
        top: 235px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
      }
      @media (max-width: $bp-smartphone) {
        top: 141px;
      }
      @media (max-width: $bp-smartphone-sm) {
        display: none;
      }
    }
  }
  &__item:last-child {
    margin: 0;
  }
  &__desc {
    display: inline-block;
    width: 554px;
    vertical-align: 80px;
    margin-top: 73px;
    margin-left: 420px;
    &_position_right {
      @media (min-width: $bp-ultra) {
        top: -15px;
      }

      @media (max-width: $bp-netbook) {
        right: 0;
      }
    }
    &_position_bottom {
      @media (max-width: $bp-netbook) {
        bottom: 37px;
      }
    }
    &_position_left {
      text-align: right;
      position: relative;
      left: 30px;
      margin-top: 73px;
      margin-left: 10px;
      @media (min-width: $bp-ultra) {
        top: -10px;
        margin: 0 0 0 4px;
      }

      @media (max-width: $bp-netbook) {
        margin: 0;
        left: 0;
      }
    }

    @media (max-width: $bp-netbook) {
      display: block;
      text-align: center;
      margin-left: 0;
      margin-top: 0;
      position: relative;
      top: 290px;
    }

    @media (max-width: $bp-smartphone) {
      width: 100%;
      top: 230px;
    }
  }
  &__title {
    margin: 0 16px 0 5px;
    font-family: $f-bold, sans-serif;
    font-size: 18px;
    font-weight: normal;

    @media (max-width: $bp-netbook) {
      margin: 0;
      font-size: 1.05rem;
    }

    @media (max-width: $bp-smartphone-sm) {
      font-size: 7vw;
    }
  }
  &__txt {
    margin: 10px 0 0 5px;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $bp-netbook) {
      font-size: 0.83rem;
    }

    @media (max-width: $bp-smartphone-sm) {
      line-height: 17px;
      font-size: 5vw;
    }
  }

  @media (max-width: $bp-netbook) {
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
}

//block-number
@import "app/sass/blocks/block-number/_block-number.scss";
