//Список расширенный для сайта landing-business.hw
/*list-extended*/
.list-extended{
    padding: 0;
    
    //медиа-запрос ноутбуки
    @media (max-width: $bp-laptop ) {padding: 10px 10px 10px 10px;}
       
   &__item {
       margin: 0 0 40px 0;
       list-style-type: none;
       display: inline-block;
       box-shadow: 0px 0px 1px 0px;
       border-radius: 2px;
       background-color: $c-light;
   }
   &__item:last-child {margin: 0;} 
   &__box-img {
       display: inline-block;
       
       //медиа-запрос ноутбуки
       @media (max-width: $bp-laptop ) {display: block;}
       
       &_position {
            //медиа-запрос ноутбуки
            @media (max-width: $bp-laptop ) {
                position: relative;
                bottom: 40px;
            }
    }
   }
   &__pic {
       width: 336px;
       height: 236px;
       vertical-align: bottom;
    //медиа-запрос для UHD экранов
    //также позволяет в браузерах Chrome, Opera хорошо отображаться
    //содержимому списка при зуме 33% , 25% (Ctrl -) 
    @media (min-width: $bp-ultra ) {height: 278px; }
    
    //медиа-запрос ноутбуки
    @media (max-width: $bp-laptop ) {
        width: 35%;
        height: auto;
        vertical-align: baseline;
        margin: 2% 25% 0 33%;   
    }
   }
   
   &__block-number {
       //позиционирование block-number
       vertical-align: 85px;
       position: relative;
       right: 62px;
       
       //медиа-запрос ноутбуки
       @media (max-width: $bp-laptop ) {
           vertical-align: 60px;
           position: static;
           right: 0;  
       }
   }
   &__desc {
       display: inline-block;
       width: 554px;
       vertical-align: 80px;
       &_position_right{
            position: relative;
            right: 35px;
        //медиа-запрос для UHD экранов
        //также позволяет в браузерах Chrome, Opera хорошо отображаться
        //содержимому списка при зуме 33% , 25% (Ctrl -) 
        @media (min-width: 5120px ) {top: 35px; }
        
        //медиа-запрос ноутбуки
        @media (max-width: $bp-laptop ) {
            position: static;
            right: 0;
        }
       }
       &_position_left{
            text-align: right;
            position: relative;
            left: 30px;
        //медиа-запрос для UHD экранов
        //также позволяет в браузерах Chrome, Opera хорошо отображаться
        //содержимому списка при зуме 33% , 25% (Ctrl -) 
        @media (min-width: $bp-ultra ) {top: 35px; }
        
        //медиа-запрос ноутбуки
        @media (max-width: $bp-laptop ) {
            padding: 0 1% 0 0;
            left: 55px;
        }
       }
       
       //медиа-запрос ноутбуки
       @media (max-width: $bp-laptop ) {
            display: inline-block;
            width: 75%;
            vertical-align: 50px;
       }
   }
   &__title {
       margin: 0;
       font-family: $f-bold, sans-serif;
       font-size: 18px;
       
       //медиа-запрос ноутбуки
       @media (max-width: $bp-laptop ) {font-size: 1.05rem;}
   }
   &__txt {
       margin: 15px 0 0 0;
       font-size: 14px;
       
       //медиа-запрос ноутбуки
       @media (max-width: $bp-laptop ) {font-size: 0.83rem;}
    }
}
   //block-number
@import "app/sass/blocks/block-number/_block-number.scss";

