//Button for the site landing-business.hw
/*Button*/

.btn {
  display: inline-block;
  padding: 0 23px 0 23px;
  height: 37px;
  line-height: 36px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: $f-safe, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: $c-light;
  transition: 0.5s;

  &:hover {
    color: lighten(#f8cd53, 15%);
    // I remove the highlight color that appears when I click
    // around the button when viewing a site through a mobile device
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  &_theme_bright {
    background-color: $c-accent;
  }

  // Ultra HD
  @media (min-width: $bp-ultra) {
    line-height: normal;
    height: auto;
  }

  // media request for 4k screens
  // also allows you to avoid the transition of the logo, menu and button to
  // new line with a zoom of 33%, 25%
  @media (min-width: $bp-4k) {
    padding: 10px 23px 13px 23px;
    line-height: normal;
    height: auto;
  }

  @media (max-width: $bp-netbook) {
    font-size: 0.9rem;
  }
}

// Hack for Firefox
// Firefox browser displays text a little differently
// so that the distance between the letters is not strong
// different from other browsers, such a decision was made.
@-moz-document url-prefix() {
  .btn {
    letter-spacing: normal;
  }
}

// In the EDGE browser when using page translation
// the Russian text in the button becomes longer and it "falls"
// so I changed it a bit externally.
.btn[_msthash] {
  letter-spacing: -0.5px;
  width: 120px;
  line-height: 100%;
  height: 40px;
  text-align: center;
  padding: 4px 0 0 0;
}
