//Кнопка для сайта landing-business.hw
/*Button*/

//Кнопки сделаны так для того чтобы добиться ровного отображения
//текста в кнопках на разных платформах
.btn{
    display: inline-block;
    padding: 0 23px 0 23px ; //10px 23px 10px 23px 
    height: 37px;//added up 
    line-height: 36px;//added up
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: $f-safe, sans-serif; //$f-bold
    font-size: 15px;
    font-weight: 700; //added up
    letter-spacing: 0.5px; //added up
    color: $c-light;
    transition: 0.5s;
    
    &:hover{
        color: lighten(#f8cd53, 15%);
        //Убираю цвет выделения, который появляется при нажатии 
        //вокруг кнопки при просмотре сайта через мобильное устройство
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
    }
    &_theme_bright{background-color: $c-accent;}
    
    //медиа-запрос для Ultra HD экранов
    @media (min-width: $bp-ultra ) {
        line-height: normal; //added up
        height: auto; //added up
    }

    //медиа-запрос для 4k экранов
    //также позволяет в шапке избежать переход логотипа, меню и кнопки на
    //новую строку при зуме 33% , 25% (Ctrl -) в браузерах Chrome, Opera.
    @media (min-width: $bp-4k ) {
        padding: 10px 23px 13px 23px;
        line-height: normal; //added up
        height: auto; //added up
    }
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {font-size: 0.9rem;}   
}

//added up
//Хак для Firefox
//Браузер Firefox немного по другому отображает текст
//поэтому чтобы расстояние между буквами не сильно 
//отличалось от других браузеров было принято такое решение.
@-moz-document url-prefix() { 
    .btn { letter-spacing: normal; }
}

//added up for EDGE
//В браузере EDGE при использовании перевода страницы 
//на русский текст в кнопке становится длинней и она "падает"
//поэтому я её изменил немного внешне.
.btn[_msthash] {
    letter-spacing: -0.5px;
    width: 120px;
    line-height: 100%;
    height: 40px;
    text-align: center;
    padding: 4px 0 0 0;
}