//Форма обратной связи для сайта landing-business.hw

//Специально импортирую tooltip (окно с подсказкой) вверху перед формой
//для того чтобы можно было беспроблемно переопределять свойства окна tooltip
    //tooltip
    @import "app/sass/blocks/tooltip/_tooltip.scss";  

/*form*/  
.form {
    margin: 35px 170px 0 170px;
    padding: 50px 50px 68px 50px; //50px 50px 65px 50px
    position: relative;
    background-color: $c-light;
    display: none;
    //Делаю треугольник (пирамиду) через псевдоэлемент 
    &::before {
        content: '';
        border: 34px solid transparent;
        border-bottom: 36px solid $c-light;
        position: absolute;
        left: 46.5%;
        margin-left: -11px;
        top:-67px;
        width: 0;

        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook  ){
            border: 25px solid transparent;
            border-bottom: 27px solid $c-light;
            margin-left: -7px;
            top: -50px;
        }

        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){
            // display: none;
            border: 20px solid transparent;
            border-bottom: 23px solid $c-light;
            margin: auto;
            top: -116%;
            left: 0;
            right: 0;
            bottom: 0;
            height: 24px;
         }

        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) { display: none; }
    }
    &__btn-close {
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: -23px;
        right: -20px;
        text-decoration: none;
        background-color: $c-accent;
        color: $c-light;
        border: 2px solid $c-light;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.1s;
        
        &:hover {
            background-color: darken($c-accent, 9%);
            //Убираю цвет выделения, который появляется при нажатии 
            //вокруг кнопки при просмотре сайта через мобильное устройство
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {
            width: 45px;
            height: 45px;
       }
       
       //медиа-запрос смартфон
       @media (max-width: $bp-smartphone ){
            width: 40px;
            height: 40px;
            top: -19px;
       }
       
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {
            border: 1px solid $c-light;
            width: 25px; 
            height: 25px; 
            top: -4%;
            right: -4%;
        }

        @media (max-width: $bp-screen-small ) {
            display: none;
        }
    }
    //Делаю крестик (виде икса)
    &__btn-close-ico {
        display: inline-block;
        background: $c-light;
        height: 21px;
        width: 2px;
        position: inherit;
        top: 12px; 
        left: 22px;
        transform: rotate(-35deg);

        &::after {
            display: inherit;
            background: $c-light;
            content: "";
            height: 2px;
            left: -9px;
            position: inherit;
            top: 10px;
            width: 20px;
            transform: rotate(-20deg);

            //медиа-запрос нeтбуки
            @media (max-width: $bp-netbook ) {
                width: 19px;    
                top: 9px;
                left: -8px;
                transform: rotate(-16deg);
            }

            //медиа-запрос смартфон
            @media (max-width: $bp-smartphone ) {
                width: 18px;    
                top: 8px; 
            }

            //медиа-запрос смартфон маленький экран
            @media (max-width: $bp-smartphone-sm ) {
                width: 14px;
                top: 6px;
                left: -6px;
            }

        }

        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) {
            height: 19px;
            left: 19px;
            top: 10px; 
        }

        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){
            height: 18px;
            left: 17px;
            top: 9px; 
        }

        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {
            height: 14px;
            left: 11px;
            top: 4px;
        }
    }
    &__txt {
        margin: 0 0 33px 0;
        font-family: $f-normal, sans-serif;
        font-size: 15px; //added up
        line-height: 20px; //added up
        color: #5a5a5a; //added up
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {font-size: 0.93rem;}
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {
           margin: 0 0 5vw 0;
           font-size: 5vw;
           line-height: 17px; //added up
       }
    }
    &__field:nth-of-type(2) {
        margin: 8px 0 8px 0;//10px 0 10px 0

        //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) { margin: 4px 0 4px 0; }
    } 
    &__field {
        padding: 17px 25px 17px 25px;
        width: 76%; // 75%
        outline: 0;
        font-size: 15px; 
        font-family: $f-safe, sans-serif; //$f-normal
        font-weight: 700; //600
        letter-spacing: 1px;
        border: 1px solid #b5b4b4;
        border-radius: 6px;
        background-color: $c-light;
        //line-height: 1.2; //added up
        // вид текста placeholder
        &::placeholder {
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0;
            //line-height: 1.2; //added up
            //Для кроссбраузерности. Firefox убирает красный цвет букв
            //если input стоит required
            color:#b5b4b4; // $c-dark

            //медиа-запрос смартфон маленький экран
            @media (max-width: $bp-smartphone-sm ){ font-size: 5vw;}
        }
        //Убирает красные границы вокруг полей 
        //со значением required в браузере Firefox
        &:-moz-ui-invalid {box-shadow: none;}
        
        //Для его величества internet explorer
        //Чтобы убрать красный цвет текста в поле ввода 
        //у которого значение required, применил такой вот приём
        &:-ms-input-placeholder.form__field { color: $c-dark;}
        
        //Убираю в internet explorer "крестик очистки" в поле ввода 
        &::-ms-clear {display: none;}
        
        //Взаимодействия пользователя с полями ввода
        &_active:focus  { 
            box-shadow: 0px 0px 2px 1px #b5d9eb;
            border: 1px solid #1287bf;
            //Применил Хак для Internet Explorer!
            //internet explorer 11 не очень хорошо отображает тень (box-shadow)
            //по крайней мере в моём проекте.
            //В IE 11 я получал тень слабую и неровную, отображение тени в IE 11 очень отличалась
            //от других браузеров, поэтому я решил тень отключить.
            //Этот Хак меня выручил. 
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                box-shadow: none;
            }
            //Применил Хак для Edge!
            //Поскольку в браузере Edge тень имеет слабую видимость
            //Мне пришлось добавить больше мощности для тени
            //Чтобы добиться соответствия  как в макете
            //В этом мне помог этот Хак
            @supports (-ms-ime-align:auto){
                box-shadow: 0px 0px 6px 1px #b5d9eb;
            }

        //Показываю и прячу подсказку (tooltip)
            + .tooltip {display: block;} 
        }
        &_active:focus:valid  { + .tooltip {display: none;} }
        &_active:invalid  {color: $c-accent;}

        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) {
            padding: 15px 23px 15px 23px;
            width: 70%;
            }
        
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){
            padding: 12px 21px 12px 21px;
            width: 75%;
            }
            
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {
            padding: 5vw 5vw 5vw 5vw;
            font-size: 5vw;
            }
        
        //Применил Хак для Internet Explorer!
        //Поскольку в браузере IE при вводе текста в поля ввода 
        //поля расширяются по высоте, что в других известных браузерах не происходит
        //поэтому при расширении полей ввода происходит скачок, подёргивания секции в браузере IE
        //что неприятно при работе с сайтом. Поэтому мной было принято решен поправить 
        //стили для полей ввода только для браузера IE.
        //Для этого я применил этот Хак.
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            height: 52px; 
            padding: 0 25px 0 25px;
                //Специально для internet explorer. Медиа-запрос нeтбуки
                @media (max-width: $bp-netbook ) {
                height: 42px; 
                padding: 0 20px 0 20px !important;
                }
                //Специально для internet explorer. Медиа-запрос смартфон
                @media (max-width: $bp-smartphone ) {
                height: 35px;
                padding: 0 15px 0 15px !important;
                }
            }
        }

    //позиционирование подсказки для полей формы
    &__tooltip {
        position: absolute;
        top: 40px;
        left: 112px;
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {
            padding: 2%;
            width: 70%;
            top: 10%; 
            left: 15%;
            font-size: 0.87rem;
           }
        
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone) {
            top: 20%; //17%
            font-size: 0.72rem;
          
            
        }

        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ){ font-size: 5vw;}
    }
    //Кнопки сделаны так для того чтобы добиться ровного отображения
    //текста в кнопках на разных платформах
    &__btn-submit {
        margin: 35px 0 0 0; 
        padding: 0 27px 0 27px; //15px 27px 15px 27
        height: 47px; //addded up
        line-height: 50px; //added up
        border: 0;
        border-radius: 5px;
        letter-spacing: 0.5px;
        font-family: $f-safe, sans-serif; //$f-bold
        font-size: 15px;
        font-weight: 700; //added up
        text-transform: uppercase;
        color: $c-light;
        background-color: $c-accent;
        transition: 0.5s;
        
        &:hover {background-color: #4CAF50}
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {
           //padding: 18px 27px 15px 27px;
           font-size: 0.87rem;
       }
       
       //медиа-запрос смартфон
       @media (max-width: $bp-smartphone ){
            margin: 9% 0 0 0;
            padding: 16px 25px 13px 25px; 
            font-size: 0.77rem; 
            line-height: normal; //added up
            height: auto; //added up
       }
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {
           padding: 5% 10% 5% 10%;
           font-size: 4vw;
       }
    }

    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {
        margin: auto;
        padding: 3% 3% 4% 3%;
        width: 500px;
    }
    
    //медиа-запрос смартфон
    @media (max-width: $bp-smartphone ){
        padding: 6.4% 2% 6.4% 2%;
        width: 80%;
    }    
}

 //Немного магии. Сайт преподносит информацию на английском языке.
 //Если пользователь просматривает сайт с помощью браузера Chrome
 //и захочет перевести содержимое на русский язык при помощи Google Translate
 //то текста в в форме обратной связи станет больше и соответственно tooltip
 //(подсказка) станет отображаться выше что не очень удобно при просмотре с
 //смартфона, поэтому если страница на русском языке я подсказку немного опускаю
.translated-ltr {
    //медиа-запрос смартфон
    @media (max-width: $bp-smartphone){
        .form {
            &__tooltip { top: 24%; }
        }
    }
}

//added up
//Хак для Firefox
//Делает слишком светлым цвет в placeholder.
//Меняю цвет на подходящий. 
//Для этого применяю хак.
@-moz-document url-prefix() {
    .form {
       ::placeholder {color: #888888;}
    }
}