//Feedback form for the site landing-business.hw

// Specially import tooltip (tooltip window) at the top in front of the form
// so that you can easily redefine the properties of the tooltip window
// tooltip
@import "app/sass/blocks/tooltip/_tooltip.scss";

/*form*/
.form {
  margin: 35px 170px 0 170px;
  padding: 50px 50px 68px 50px;
  position: relative;
  background-color: $c-light;
  display: none;
  // Make a triangle (pyramid) through a pseudo-element
  &::before {
    content: "";
    border: 34px solid transparent;
    border-bottom: 36px solid $c-light;
    position: absolute;
    left: 46.5%;
    margin-left: -11px;
    top: -67px;
    width: 0;

    @media (max-width: $bp-netbook) {
      border: 25px solid transparent;
      border-bottom: 27px solid $c-light;
      margin-left: -7px;
      top: -50px;
    }

    @media (max-width: $bp-smartphone) {
      border: 20px solid transparent;
      border-bottom: 23px solid $c-light;
      margin: auto;
      top: -116%;
      left: 0;
      right: 0;
      bottom: 0;
      height: 24px;
    }

    // media request smartphone small screen
    @media (max-width: $bp-smartphone-sm) {
      display: none;
    }
  }
  &__btn-close {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -23px;
    right: -20px;
    text-decoration: none;
    background-color: $c-accent;
    color: $c-light;
    border: 2px solid $c-light;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
      background-color: darken($c-accent, 9%);
      // I remove the highlight color that appears when I click
      // around the button when viewing a site through a mobile device
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    @media (max-width: $bp-netbook) {
      width: 45px;
      height: 45px;
    }

    @media (max-width: $bp-smartphone) {
      width: 40px;
      height: 40px;
      top: -19px;
    }

    @media (max-width: $bp-smartphone-sm) {
      border: 2px solid $c-light;
      width: 32px;
      height: 32px;
      top: -4%;
      right: -5%;
    }

    @media (max-width: $bp-screen-small) {
      display: none;
    }
  }
  // Make a cross (as x)
  &__btn-close-ico {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/close.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &__txt {
    margin: 0 0 33px 0;
    font-family: $f-normal, sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #5a5a5a;

    @media (max-width: $bp-netbook) {
      font-size: 0.93rem;
    }

    // media request smartphone small screen
    @media (max-width: $bp-smartphone-sm) {
      margin: 0 0 5vw 0;
      font-size: 5vw;
      line-height: 17px;
    }
  }
  &__field:nth-of-type(2) {
    margin: 8px 0 8px 0;

    // media request smartphone small screen
    @media (max-width: $bp-smartphone-sm) {
      margin: 4px 0 4px 0;
    }
  }
  &__field {
    padding: 17px 25px 17px 25px;
    width: 76%;
    outline: 0;
    font-size: 15px;
    font-family: $f-safe, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid #b5b4b4;
    border-radius: 6px;
    background-color: $c-light;
    // text view placeholder
    &::placeholder {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0;
      // For cross-browser compatibility. Firefox removes red letters
      // if input is required
      color: #b5b4b4;
      @media (max-width: $bp-smartphone-sm) {
        font-size: 5vw;
      }
    }
    // Removes red borders around fields
    // with the required value in Firefox
    &:-moz-ui-invalid {
      box-shadow: none;
    }

    // For His Majesty internet explorer
    // To remove the red color of the text in the input field
    // whose value is required, applied this technique
    &:-ms-input-placeholder.form__field {
      color: $c-dark;
    }

    // I remove the "cleaning cross" in the input field in internet explorer
    &::-ms-clear {
      display: none;
    }

    // User interactions with input fields
    &_active:focus {
      box-shadow: 0px 0px 2px 1px #b5d9eb;
      border: 1px solid #1287bf;
      // Applied Hack for Internet Explorer!
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        box-shadow: none;
      }
      //Hack Edge!
      @supports (-ms-ime-align: auto) {
        box-shadow: 0px 0px 6px 1px #b5d9eb;
      }

      //Show and hide the hint (tooltip)
      + .tooltip {
        display: block;
      }
    }
    &_active:focus:valid {
      + .tooltip {
        display: none;
      }
    }
    &_active:invalid {
      color: $c-accent;
    }

    @media (max-width: $bp-netbook) {
      padding: 15px 23px 15px 23px;
      width: 70%;
    }

    @media (max-width: $bp-smartphone) {
      padding: 12px 21px 12px 21px;
      width: 75%;
    }

    @media (max-width: $bp-smartphone-sm) {
      padding: 5vw 5vw 5vw 5vw;
      font-size: 5vw;
    }

    //Hack Internet Explorer!
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      height: 52px;
      padding: 0 25px 0 25px;
    }
  }

  //tooltip positioning for form fields
  &__tooltip {
    position: absolute;
    top: 40px;
    left: 112px;

    @media (max-width: $bp-netbook) {
      padding: 2%;
      width: 70%;
      top: 10%;
      left: 15%;
      font-size: 0.87rem;
    }

    @media (max-width: $bp-smartphone) {
      top: 20%; //17%
      font-size: 0.72rem;
    }

    @media (max-width: $bp-smartphone-sm) {
      font-size: 5vw;
    }
  }

  &__btn-submit {
    margin: 35px 0 0 0;
    padding: 0 27px 0 27px;
    height: 47px;
    line-height: 50px;
    border: 0;
    border-radius: 5px;
    letter-spacing: 0.5px;
    font-family: $f-safe, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: $c-light;
    background-color: $c-accent;
    transition: 0.5s;

    &:hover {
      background-color: #4caf50;
    }

    @media (max-width: $bp-netbook) {
      font-size: 0.87rem;
    }

    @media (max-width: $bp-smartphone) {
      margin: 9% 0 0 0;
      padding: 16px 25px 13px 25px;
      font-size: 0.77rem;
      line-height: normal;
      height: auto;
    }

    @media (max-width: $bp-smartphone-sm) {
      padding: 5% 10% 5% 10%;
      font-size: 4vw;
    }
  }

  @media (max-width: $bp-netbook) {
    margin: auto;
    padding: 3% 3% 4% 3%;
    width: 500px;
  }

  @media (max-width: $bp-smartphone) {
    padding: 6.4% 2% 6.4% 2%;
    width: 80%;
  }
}

// The site presents information in English.
// If the user views the site using the Chrome browser
// and wants to translate the content into Russian using Google Translate
// then the text in the feedback form will become larger and, accordingly, tooltip
// (hint) will be displayed above which is not very convenient when viewing from
// smartphone, so if the page in Russian, I omit the tip a little
.root[lang="ru"] {
  // media request smartphone
  @media (max-width: $bp-smartphone) {
    .form {
      &__tooltip {
        top: 24%;
      }
    }
  }
}

// If you translate the page into Russian
// triangle (transamide) a little with adaptability
// disconnect from the form itself. I fix it.
.root[lang="ru"] {
  .form::before {
    @media (max-width: $bp-smartphone) {
      top: -114%;
    }
  }
}

//hack Firefox
@-moz-document url-prefix() {
  .form {
    ::placeholder {
      color: #888888;
    }
  }
}

// In the EDGE browser when translating into Russian
// reduce the height of the line.
.form {
  &__txt[_msthash] {
    @media (max-width: $bp-smartphone) {
      line-height: 15px;
    }
  }
}
