@charset "UTF-8";
/*Шрифты для сайта*/
@font-face {
  font-family: 'GeorgiaBold';
  src: url("../fonts/GeorgiaBold/GeorgiaBold.ttf");
  src: url("../fonts/GeorgiaBold/GeorgiaBold.eot"), url("../fonts/GeorgiaBold/GeorgiaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GeorgiaBold/GeorgiaBold.woff2") format("woff2"), url("../fonts/GeorgiaBold/GeorgiaBold.woff") format("woff"), url("../fonts/GeorgiaBold/GeorgiaBold.svg#GeorgiaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/HelveticaBold/HelveticaBold.ttf");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot"), url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff2") format("woff2"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.svg#HelveticaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLight';
  src: url("../fonts/HelveticaLight/HelveticaLight.ttf");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot"), url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.svg#HelveticaLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaRegular';
  src: url("../fonts/HelveticaRegular/HelveticaRegular.ttf");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot"), url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff2") format("woff2"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.svg#HelveticaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular/OpenSansRegular.ttf");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot"), url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ----HTML----*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----CLEARFIX----*/
.clearfix::after {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}

/* ----BODY----*/
.page {
  padding: 0;
  font-size: 16px;
  font-family: "OpenSansRegular", sans-serif;
  color: #424242;
  background-color: #ffffff;
}

/* ----CONTAINER---*/
.container {
  max-width: 1024px;
  margin: auto;
}

/*----Header----*/
.header__contact-info {
  /*Eсли не нужно использовать info-phone_decor-line_vertical*/
  /*(вертикальную линию возле номера телефона)*/
  /*Тогда снять комментарий с padding */
  /*и закомментировать селектор header__info-phone_decor-line_vertical*/
  /*padding: 7px 0 10px 0;*/
  text-align: right;
  background-color: #f0f2f4;
  -webkit-box-shadow: 0px 2px 4px -2px #b9b9b9;
          box-shadow: 0px 2px 4px -2px #b9b9b9;
}

.header__info-phone {
  display: inline-block;
}

@media (max-width: 596px) {
  .header__info-phone {
    padding: 0 5% 0 0;
  }
}

.header__info-phone_decor-line_vertical {
  border-right: 1px solid #d6d6d6;
  height: 40px;
  padding: 9px 9px 0 0;
}

@media (max-width: 596px) {
  .header__info-phone_decor-line_vertical {
    padding: 0;
    border-right: none;
    height: auto;
  }
}

.header__ico-phone {
  vertical-align: -3px;
  font-size: 24px;
}

@media (min-width: 3840px) {
  .header__ico-phone {
    vertical-align: baseline;
  }
}

@media (max-width: 288px) {
  .header__ico-phone {
    font-size: 8vw;
  }
}

.header__info-email {
  padding: 0 3px 0 18px;
  display: inline-block;
}

@media (max-width: 596px) {
  .header__info-email {
    display: none;
  }
}

.header__ico-email {
  font-size: 19px;
}

.header__link {
  padding: 0 7px 0 10px;
  text-decoration: none;
  color: #424242;
  font-size: 15px;
  font-family: "HelveticaRegular", sans-serif;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__link:hover {
  color: #dd2a24;
}

@media (max-width: 1045px) {
  .header__link {
    font-size: 0.87rem;
  }
}

@media (max-width: 288px) {
  .header__link {
    font-size: 5vw;
  }
}

.header__info-social-net {
  display: inline-block;
  margin: 0 7px 0 0;
  -webkit-border-radius: 12%;
          border-radius: 12%;
  background-color: #1287bf;
}

@media (max-width: 596px) {
  .header__info-social-net {
    margin: 3% 1% 3% 0;
  }
}

.header__ico-social-net {
  font-size: 19px;
}

.header__link-social-net {
  display: block;
  padding: 4px 7px 4px 7px;
  width: 26px;
  height: 26px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__link-social-net:hover {
  color: #fbe29d;
}

@media (max-width: 288px) {
  .header__link-social-net {
    display: none;
  }
}

.header__control {
  padding: 40px 0 40px 0;
}

@media (min-width: 3840px) {
  .header__control {
    text-align: center;
  }
}

@media (max-width: 836px) {
  .header__control {
    padding: 9% 0 10% 0;
  }
}

@media (max-width: 288px) {
  .header__control {
    padding: 7% 0 12% 0;
  }
}

/*logo*/
.logo {
  display: inline-block;
  width: 24%;
}

@media (min-width: 3840px) {
  .logo {
    width: 26%;
  }
}

@media (max-width: 1045px) {
  .logo {
    margin: 0 0 0 1.5%;
    width: 28%;
  }
}

@media (max-width: 836px) {
  .logo {
    display: block;
    margin: 0 auto 3% auto;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 288px) {
  .logo {
    margin: 0 auto 10% auto;
  }
}

.logo__ico {
  margin: 0 5px 0 0;
  position: relative;
  left: -4px;
  font-size: 57px;
  color: #dd2a24;
  float: left;
}

@media (max-width: 1045px) {
  .logo__ico {
    font-size: 3.4rem;
  }
}

@media (max-width: 836px) {
  .logo__ico {
    float: none;
    margin: 0;
    position: static;
    left: 0;
  }
}

@media (max-width: 288px) {
  .logo__ico {
    font-size: 19vw;
  }
}

.logo__heading {
  margin: 0;
  font-size: 37px;
  font-family: "HelveticaBold", sans-serif;
}

@media (max-width: 1045px) {
  .logo__heading {
    font-size: 2rem;
  }
}

@media (max-width: 836px) {
  .logo__heading {
    letter-spacing: 2px;
  }
}

@media (max-width: 596px) {
  .logo__heading {
    letter-spacing: 0;
  }
}

@media (max-width: 288px) {
  .logo__heading {
    font-size: 12vw;
  }
}

.logo__txt {
  margin: 0;
  font-size: 15px;
  font-family: "HelveticaRegular", sans-serif;
}

@media (max-width: 1045px) {
  .logo__txt {
    font-size: 1rem;
  }
}

@media (max-width: 836px) {
  .logo__txt {
    letter-spacing: 1px;
  }
}

@media (max-width: 596px) {
  .logo__txt {
    letter-spacing: 0;
  }
}

@media (max-width: 288px) {
  .logo__txt {
    font-size: 5vw;
  }
}

.container__navigation {
  margin: 0 0 0 176px;
}

@media (min-width: 3840px) {
  .container__navigation {
    margin: 0 0 0 25px;
  }
}

@media (max-width: 1045px) {
  .container__navigation {
    margin: 0 0 0 5%;
  }
}

.navigation {
  display: inline-block;
}

@media (max-width: 836px) {
  .navigation.container__navigation {
    display: block;
    margin: 0;
    text-align: center;
  }
}

/*Menu*/
.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style-type: none;
  display: inline-block;
  vertical-align: 21px;
}

@media (max-width: 836px) {
  .menu__item {
    vertical-align: 0;
  }
}

@media (max-width: 596px) {
  .menu__item {
    display: block;
    margin: auto;
    padding: 0.7% 0 0.7% 0;
    width: 200px;
    border-bottom: 2px solid rgba(66, 66, 66, 0.5);
  }
}

@media (max-width: 288px) {
  .menu__item {
    width: 100%;
    border-bottom: 0;
  }
}

.menu__link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "HelveticaBold", sans-serif;
  font-size: 15px;
  color: #424242;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu__link:hover {
  color: #dd2a24;
}

@media (max-width: 1045px) {
  .menu__link {
    font-size: 0.9rem;
  }
}

@media (max-width: 836px) {
  .menu__link {
    text-transform: uppercase;
  }
}

@media (max-width: 288px) {
  .menu__link {
    font-size: 5.5vw;
  }
}

.menu__ico {
  margin: 0 15px 0 15px;
  font-size: 9px;
}

@media (min-width: 3840px) {
  .menu__ico {
    display: none;
  }
}

@media (max-width: 1045px) {
  .menu__ico {
    margin: 0 3px 0 7px;
  }
}

@media (max-width: 836px) {
  .menu__ico {
    margin: 0 8px 0 12px;
  }
}

@media (max-width: 596px) {
  .menu__ico {
    display: none;
  }
}

@media (max-width: 836px) {
  .menu {
    margin: auto;
  }
}

.container__box-button {
  margin: 0 0 0 16px;
}

@media (min-width: 3840px) {
  .container__box-button {
    float: right;
    margin: 12px 0 0 0;
  }
}

@media (max-width: 1045px) {
  .container__box-button {
    float: right;
    margin: 0.5% 0.7% 0 0;
  }
}

.box-button {
  display: inline-block;
  vertical-align: 20px;
}

@media (max-width: 836px) {
  .box-button {
    display: none;
  }
}

/*Button*/
.btn {
  display: inline-block;
  padding: 10px 23px 10px 23px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "HelveticaBold", sans-serif;
  font-size: 15px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  color: #fbe29d;
}

.btn_theme_bright {
  background-color: #dd2a24;
}

@media (min-width: 3840px) {
  .btn {
    padding: 10px 23px 13px 23px;
  }
}

@media (max-width: 1045px) {
  .btn {
    font-size: 0.9rem;
  }
}

/*-----------------------*/
/*----Section Hero----*/
.hero {
  min-height: 590px;
  background: #71796c url("../img/bg-hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.hero__box-info {
  padding: 164px 0 235px 0;
  text-align: center;
}

.hero__heading {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 48px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .hero__heading {
    font-size: 2.7rem;
  }
}

@media (max-width: 288px) {
  .hero__heading {
    font-size: 13vw;
  }
}

.hero__txt {
  margin: 0;
  font-family: "HelveticaLight", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .hero__txt {
    font-size: 1.6rem;
  }
}

@media (max-width: 288px) {
  .hero__txt {
    font-size: 7vw;
  }
}

.hero__box-button-big {
  display: inline-block;
  padding: 30px 0 0 0;
}

/*Button-Big*/
.btn-big {
  display: inline-block;
  padding: 21px 36px 21px 36px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  text-decoration: none;
  font-family: "HelveticaBold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-big_theme_bright {
  background-color: #f8cd53;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}

.btn-big_theme_bright:hover {
  background-color: #dd2a24;
}

@media (max-width: 1045px) {
  .btn-big {
    padding: 24px 36px 21px 36px;
    font-size: 1.25rem;
  }
}

@media (max-width: 596px) {
  .btn-big {
    padding: 6% 4% 4% 4%;
    font-size: 1.22rem;
  }
}

@media (max-width: 288px) {
  .btn-big {
    font-size: 6vw;
  }
}

/*----Section About----*/
.about {
  background-color: #ffffff;
}

.about__box-info {
  padding: 90px 0 120px 0;
}

.about__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
}

@media (max-width: 1045px) {
  .about__heading {
    font-size: 2rem;
  }
}

@media (max-width: 288px) {
  .about__heading {
    font-size: 12vw;
  }
}

.about__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
}

@media (max-width: 1045px) {
  .about__txt {
    font-size: 1.07rem;
  }
}

@media (max-width: 288px) {
  .about__txt {
    font-size: 7vw;
  }
}

.about__decor-line {
  width: 50px;
  height: 6px;
  background-color: #424242;
  border: 0;
}

@media (max-width: 1045px) {
  .about__decor-line {
    height: 5px;
  }
}

@media (max-width: 288px) {
  .about__decor-line {
    display: none;
  }
}

.about__list {
  margin: 45px 0px 0 0;
}

/*list*/
.list {
  padding: 0;
  text-align: center;
}

.list__item {
  list-style-type: none;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

@media (max-width: 836px) {
  .list__item {
    padding: 0 15% 0 15%;
    display: block;
    width: 100%;
    vertical-align: 0;
  }
}

@media (max-width: 288px) {
  .list__item {
    padding: 0 1% 0 1%;
  }
}

.list__item:nth-of-type(2) {
  margin: 0 31px 0 31px;
}

@media (max-width: 1045px) {
  .list__item:nth-of-type(2) {
    margin: 0 1% 0 1%;
  }
}

@media (max-width: 836px) {
  .list__item:nth-of-type(2) {
    margin: 5% 0% 5% 0%;
  }
}

.list__pic {
  display: inline-block;
}

.list__pic_like {
  background-image: url(../img/sprite.png);
  background-position: -86px 0px;
  width: 83px;
  height: 79px;
}

.list__pic_book {
  background-image: url(../img/sprite.png);
  background-position: 0px -81px;
  width: 66px;
  height: 79px;
}

.list__pic_dialog {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 81px;
}

.list__title {
  margin: 20px 0 17px 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 22px;
}

@media (max-width: 1045px) {
  .list__title {
    font-size: 1.1rem;
  }
}

@media (max-width: 288px) {
  .list__title {
    font-size: 6vw;
  }
}

.list__txt {
  margin: 0;
  padding: 0 20px 0 20px;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .list__txt {
    font-size: 0.83rem;
  }
}

@media (max-width: 288px) {
  .list__txt {
    font-size: 5vw;
  }
}

/*----Section Out Approch----*/
.approch {
  background-color: #f3f3f3;
}

.approch__box-info {
  padding: 90px 0 130px 0;
}

.approch__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
}

@media (max-width: 1045px) {
  .approch__heading {
    font-size: 2rem;
  }
}

@media (max-width: 288px) {
  .approch__heading {
    font-size: 10vw;
  }
}

.approch__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
}

@media (max-width: 1045px) {
  .approch__txt {
    font-size: 1.07rem;
  }
}

@media (max-width: 288px) {
  .approch__txt {
    font-size: 7vw;
  }
}

.approch__decor-line {
  width: 50px;
  height: 6px;
  background-color: #424242;
  border: 0;
}

@media (max-width: 1045px) {
  .approch__decor-line {
    height: 5px;
  }
}

@media (max-width: 288px) {
  .approch__decor-line {
    display: none;
  }
}

.approch__list-extended {
  margin: 43px 0 0 0;
}

/*list-extended*/
.list-extended {
  padding: 0;
}

.list-extended__item {
  margin: 0 0 40px 0;
  list-style-type: none;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 1px 0px;
          box-shadow: 0px 0px 1px 0px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
}

.list-extended__item:hover .block-number {
  background-color: #4CAF50;
}

@media (max-width: 1045px) {
  .list-extended__item {
    padding: 3% 3% 3% 3%;
  }
}

@media (max-width: 596px) {
  .list-extended__item {
    width: 100%;
  }
}

@media (max-width: 288px) {
  .list-extended__item {
    padding: 10% 3% 3% 3%;
  }
}

.list-extended__item:last-child {
  margin: 0;
}

.list-extended__box-img {
  display: inline-block;
}

@media (max-width: 1045px) {
  .list-extended__box-img {
    display: block;
  }
}

@media (max-width: 1045px) {
  .list-extended__box-img_position {
    margin: 15px 0 0 0;
    position: relative;
    bottom: 40px;
  }
}

@media (max-width: 288px) {
  .list-extended__box-img {
    display: none;
  }
}

.list-extended__pic {
  width: 336px;
  height: 236px;
  vertical-align: bottom;
}

@media (min-width: 5120px) {
  .list-extended__pic {
    height: 278px;
  }
}

@media (max-width: 1045px) {
  .list-extended__pic {
    vertical-align: baseline;
  }
}

@media (max-width: 596px) {
  .list-extended__pic {
    width: 220px;
    height: auto;
  }
}

.list-extended__block-number {
  vertical-align: 85px;
  position: relative;
  right: 62px;
}

@media (max-width: 1045px) {
  .list-extended__block-number {
    vertical-align: 60px;
    position: static;
    right: 0;
  }
}

.list-extended__desc {
  display: inline-block;
  width: 554px;
  vertical-align: 80px;
}

.list-extended__desc_position_right {
  position: relative;
  right: 35px;
}

@media (min-width: 5120px) {
  .list-extended__desc_position_right {
    top: 35px;
  }
}

@media (max-width: 1045px) {
  .list-extended__desc_position_right {
    right: 0;
  }
}

@media (max-width: 1045px) {
  .list-extended__desc_position_bottom {
    bottom: 30px;
  }
}

.list-extended__desc_position_left {
  text-align: right;
  position: relative;
  left: 30px;
}

@media (min-width: 5120px) {
  .list-extended__desc_position_left {
    top: 35px;
  }
}

@media (max-width: 1045px) {
  .list-extended__desc_position_left {
    left: 0;
  }
}

@media (max-width: 1045px) {
  .list-extended__desc {
    display: block;
    text-align: center;
  }
}

@media (max-width: 596px) {
  .list-extended__desc {
    width: 100%;
  }
}

.list-extended__title {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 18px;
}

@media (max-width: 1045px) {
  .list-extended__title {
    font-size: 1.05rem;
  }
}

@media (max-width: 288px) {
  .list-extended__title {
    font-size: 7vw;
  }
}

.list-extended__txt {
  margin: 15px 0 0 0;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .list-extended__txt {
    font-size: 0.83rem;
  }
}

@media (max-width: 288px) {
  .list-extended__txt {
    font-size: 5vw;
  }
}

@media (max-width: 1045px) {
  .list-extended {
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
}

/*block-number*/
.block-number {
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  padding: 0px 31px 17px 36px;
  background-color: #dd2a24;
  border: 2px solid #ffffff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}

@media (max-width: 288px) {
  .block-number {
    margin: 0 0 23% 0;
    padding: 0px 3% 7% 3%;
    min-width: 30vw;
    min-height: auto;
  }
}

.block-number_position_left {
  position: relative;
  left: 60px;
}

@media (max-width: 1045px) {
  .block-number_position_left {
    left: 0;
  }
}

.block-number__num {
  text-align: center;
  font-family: "GeorgiaBold", sans-serif;
  font-size: 60px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .block-number__num {
    font-size: 3.4rem;
  }
}

@media (max-width: 288px) {
  .block-number__num {
    font-size: 20vw;
  }
}

.block-number__txt {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.block-number__txt_position {
  position: relative;
  bottom: 10px;
}

@media (max-width: 1045px) {
  .block-number__txt {
    font-size: 1rem;
  }
}

@media (max-width: 288px) {
  .block-number__txt {
    display: none;
  }
}

@media (max-width: 1045px) {
  .block-number {
    position: relative;
    z-index: 1000;
  }
  .block-number_position_bottom {
    bottom: 55px;
  }
}

@media (max-width: 1045px) and (max-width: 288px) {
  .block-number_position_bottom {
    bottom: 0;
  }
}

@media (max-width: 1045px) {
  .block-number_position_top {
    top: 63px;
  }
}

@media (max-width: 1045px) and (max-width: 596px) {
  .block-number_position_top {
    top: 67px;
  }
}

@media (max-width: 1045px) and (max-width: 288px) {
  .block-number_position_top {
    top: 20px;
  }
}

/*----Section Work----*/
.work {
  background-color: #dd2a24;
}

.work__box-info {
  padding: 105px 0 50px 0;
}

.work__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .work__heading {
    font-size: 2rem;
  }
}

@media (max-width: 288px) {
  .work__heading {
    font-size: 12vw;
  }
}

.work__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .work__txt {
    font-size: 1.07rem;
  }
}

@media (max-width: 288px) {
  .work__txt {
    font-size: 7vw;
  }
}

.work__decor-line {
  width: 50px;
  height: 6px;
  background-color: #424242;
  border: 0;
  background-color: #ffffff;
  border: 0;
}

@media (max-width: 1045px) {
  .work__decor-line {
    height: 5px;
  }
}

@media (max-width: 288px) {
  .work__decor-line {
    display: none;
  }
}

.work__list-promo {
  margin: 50px 0 0 0;
}

/*List-promo*/
.list-promo {
  padding: 0;
}

.list-promo__item {
  background-color: #f35e59;
  list-style-type: none;
  display: inline-block;
}

.list-promo__item:hover .list-promo__ico {
  text-shadow: 0px 4px 1px rgba(66, 66, 66, 0.85);
  opacity: 1;
  color: #f7d50b;
}

.list-promo__item:hover .list-promo__title {
  text-shadow: 0px 4px 1px rgba(66, 66, 66, 0.85);
}

.list-promo__item:hover .list-promo__txt {
  text-shadow: 0px 4px 1px rgba(66, 66, 66, 0.85);
}

.list-promo__item:hover .list-promo__pic {
  -webkit-filter: saturate(200%);
          filter: saturate(200%);
}

@media (max-width: 1045px) {
  .list-promo__item {
    display: table-row;
    min-width: 475px;
    -webkit-box-shadow: 0px 0px 4px 0px #000000;
            box-shadow: 0px 0px 4px 0px #000000;
  }
}

@media (max-width: 596px) {
  .list-promo__item {
    width: 100%;
  }
}

.list-promo__item:nth-child(2) {
  position: relative;
  right: 5px;
  bottom: 84px;
}

.list-promo__item:nth-child(3) {
  position: relative;
  right: 9px;
}

.list-promo__item:nth-child(4) {
  position: relative;
  bottom: 84px;
  right: 13px;
}

.list-promo__ico {
  position: relative;
  bottom: 17px;
  font-size: 36px;
  color: #ffffff;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: text-shadow, color,  opacity;
  -o-transition-property: text-shadow, color,  opacity;
  transition-property: text-shadow, color,  opacity;
}

@media (max-width: 1045px) {
  .list-promo__ico {
    font-size: 2.12rem;
  }
}

@media (max-width: 596px) {
  .list-promo__ico {
    font-size: 1.8rem;
  }
}

@media (max-width: 288px) {
  .list-promo__ico {
    font-size: 9vw;
    bottom: 6px;
  }
}

.list-promo__box-info-text {
  margin: 85px 0 85px 0;
  text-align: center;
}

@media (max-width: 1045px) {
  .list-promo__box-info-text {
    margin: 0;
    padding: 85px 0 50px 0;
  }
}

@media (max-width: 596px) {
  .list-promo__box-info-text {
    padding: 15% 0 10% 0;
  }
}

.list-promo__title {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 26px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
}

@media (max-width: 1045px) {
  .list-promo__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 596px) {
  .list-promo__title {
    font-size: 1.4rem;
  }
}

@media (max-width: 288px) {
  .list-promo__title {
    font-size: 7vw;
  }
}

.list-promo__txt {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 16px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: text-shadow;
  -o-transition-property: text-shadow;
  transition-property: text-shadow;
}

@media (max-width: 1045px) {
  .list-promo__txt {
    font-size: 0.87rem;
  }
}

@media (max-width: 596px) {
  .list-promo__txt {
    font-size: 0.84rem;
  }
}

@media (max-width: 288px) {
  .list-promo__txt {
    font-size: 5vw;
  }
}

.list-promo__pic {
  width: 251px;
  height: 253px;
  vertical-align: bottom;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: -webkit-filter;
  transition-property: -webkit-filter;
  -o-transition-property: filter;
  transition-property: filter;
  transition-property: filter, -webkit-filter;
}

@media (max-width: 1045px) {
  .list-promo__pic {
    width: 310px;
    height: auto;
  }
  .list-promo__pic_position_bottom {
    padding: 0 0 70px 0;
  }
  .list-promo__pic_position_top {
    padding: 70px 0 0 0;
  }
}

@media (max-width: 596px) {
  .list-promo__pic {
    width: 70%;
  }
  .list-promo__pic_position_bottom {
    padding: 0 0 15% 0;
  }
  .list-promo__pic_position_top {
    padding: 15% 0 0 0;
  }
}

@media (max-width: 1045px) {
  .list-promo {
    margin: auto;
    display: table;
    width: 400px;
    border-spacing: 0 20px;
    text-align: center;
  }
}

@media (max-width: 596px) {
  .list-promo {
    width: 68%;
  }
}

/*----Section Application----*/
.application {
  background-color: #1287bf;
}

.application__box-info {
  padding: 85px 0 115px 0;
  text-align: center;
}

.application__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .application__heading {
    font-size: 2rem;
  }
}

@media (max-width: 288px) {
  .application__heading {
    font-size: 12vw;
  }
}

.application__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .application__txt {
    font-size: 1.07rem;
  }
}

@media (max-width: 288px) {
  .application__txt {
    font-size: 7vw;
  }
}

.application__btn-open {
  margin: 10px 0 20px 0;
}

.btn-open {
  display: inline-block;
  padding: 10px 16px 10px 16px;
  border: 2.5px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.btn-open__ico {
  font-size: 36px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .btn-open__ico {
    font-size: 2.12rem;
  }
}

@media (max-width: 288px) {
  .btn-open__ico {
    font-size: 12vw;
  }
}

.btn-open:hover {
  background-color: #4CAF50;
}

@media (max-width: 1045px) {
  .btn-open {
    padding: 8px 14px 8px 14px;
  }
}

@media (max-width: 596px) {
  .btn-open {
    padding: 5px 10px 5px 10px;
  }
}

@media (max-width: 288px) {
  .btn-open {
    padding: 1% 3% 1% 3%;
    border: 1.7px solid #ffffff;
  }
}

.figure-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #ffffff;
}

/*form*/
.form {
  margin: 35px 170px 0 170px;
  padding: 50px 50px 65px 50px;
  position: relative;
  background-color: #ffffff;
  display: none;
}

.form__figure-triangle {
  vertical-align: bottom;
  position: absolute;
  bottom: 441px;
  left: 307px;
}

@media (min-width: 3840px) {
  .form__figure-triangle {
    display: none;
  }
}

@media (max-width: 1045px) {
  .form__figure-triangle {
    display: none;
  }
}

.form__btn-close {
  display: inline-block;
  padding: 1px 15px 7px 15px;
  position: absolute;
  top: -23px;
  right: -20px;
  text-decoration: none;
  font-family: "HelveticaLight", sans-serif;
  font-size: 32px;
  background-color: #dd2a24;
  color: #ffffff;
  border: 2.5px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.form__btn-close:hover {
  background-color: #b7211c;
  font-weight: 600;
}

@media (max-width: 1045px) {
  .form__btn-close {
    padding: 5px 15px 7px 15px;
    font-size: 1.87rem;
  }
}

@media (max-width: 596px) {
  .form__btn-close {
    padding: 6px 12px 7px 12px;
    top: -19px;
    right: -18px;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

@media (max-width: 288px) {
  .form__btn-close {
    padding: 0% 3% 0% 3%;
    top: -4vw;
    right: -4vw;
    font-size: 7vw;
    border: 1.7px solid #ffffff;
  }
}

.form__txt {
  margin: 0 0 35px 0;
  font-family: "HelveticaRegular", sans-serif;
}

@media (max-width: 1045px) {
  .form__txt {
    font-size: 0.93rem;
  }
}

@media (max-width: 288px) {
  .form__txt {
    margin: 0 0 5vw 0;
    font-size: 5vw;
  }
}

.form__field:nth-of-type(2) {
  margin: 10px 0 10px 0;
}

.form__field {
  padding: 18px 25px 18px 25px;
  width: 75%;
  outline: 0;
  font-size: 14px;
  font-family: "HelveticaRegular", sans-serif;
  border: 1px solid #b5b4b4;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.form__field:focus {
  -webkit-box-shadow: 0px 0px 2px 1px #1287bf;
          box-shadow: 0px 0px 2px 1px #1287bf;
}

@media (max-width: 1045px) {
  .form__field {
    padding: 15px 23px 15px 23px;
    width: 70%;
  }
}

@media (max-width: 596px) {
  .form__field {
    padding: 12px 21px 12px 21px;
    width: 75%;
  }
}

@media (max-width: 288px) {
  .form__field {
    padding: 5vw 5vw 5vw 5vw;
    font-size: 5vw;
  }
}

.form__btn-submit {
  margin: 32px 0 0 0;
  padding: 15px 27px 15px 27px;
  border: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  letter-spacing: 0.5px;
  font-family: "HelveticaBold", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #dd2a24;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form__btn-submit:hover {
  background-color: #4CAF50;
}

@media (max-width: 1045px) {
  .form__btn-submit {
    padding: 18px 27px 15px 27px;
    font-size: 0.87rem;
  }
}

@media (max-width: 596px) {
  .form__btn-submit {
    margin: 9% 0 0 0;
    padding: 16px 25px 13px 25px;
    font-size: 0.77rem;
  }
}

@media (max-width: 288px) {
  .form__btn-submit {
    padding: 5% 10% 5% 10%;
    font-size: 4vw;
  }
}

@media (max-width: 1045px) {
  .form {
    margin: auto;
    padding: 3% 3% 4% 3%;
    width: 500px;
  }
}

@media (max-width: 596px) {
  .form {
    padding: 6.4% 2% 6.4% 2%;
    width: 80%;
  }
}

/*----Section Contact----*/
.contact {
  background-color: #2a2a2a;
}

.contact__box-info {
  padding: 80px 0 80px 0;
  text-align: center;
}

.contact__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
  color: #ffffff;
  font-size: 30px;
}

@media (max-width: 1045px) {
  .contact__heading {
    font-size: 1.75rem;
  }
}

@media (max-width: 288px) {
  .contact__heading {
    font-size: 9vw;
  }
}

.contact__list-links {
  margin: 30px 0 0 0;
}

@media (max-width: 288px) {
  .contact__list-links {
    margin: 5% 0 0 0;
  }
}

.contact__form-subscribe {
  margin: 35px 0 0 0;
}

@media (max-width: 288px) {
  .contact__form-subscribe {
    margin: 10% 0 0 0;
  }
}

/*List-links*/
.list-links {
  padding: 0;
}

.list-links__item {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px 0 0;
}

.list-links__item:last-child {
  margin: 0;
}

@media (max-width: 596px) {
  .list-links__item {
    margin: 0 1.7% 0 0;
  }
}

.list-links__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 2px solid #424242;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.list-links__link:hover {
  border: 2px solid #dd2a24;
}

@media (max-width: 288px) {
  .list-links__link:hover {
    border: none;
  }
}

@media (max-width: 1045px) {
  .list-links__link {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 596px) {
  .list-links__link {
    width: 42px;
    height: 42px;
  }
}

@media (max-width: 288px) {
  .list-links__link {
    width: auto;
    height: auto;
    border: none;
  }
}

.list-links__ico {
  font-size: 23px;
  vertical-align: -16px;
  color: #ffffff;
}

@media (max-width: 1045px) {
  .list-links__ico {
    font-size: 1.31rem;
  }
}

@media (max-width: 596px) {
  .list-links__ico {
    font-size: 1.3rem;
    vertical-align: -11px;
  }
}

@media (max-width: 288px) {
  .list-links__ico {
    padding: 10% 10% 10% 10%;
    font-size: 8vw;
    color: #fb8686;
    vertical-align: middle;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
  }
  .list-links__ico:hover {
    color: #dd2a24;
  }
}

/*form-subscribe*/
.form-subscribe__txt {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-family: "HelveticaRegular";
}

@media (max-width: 1045px) {
  .form-subscribe__txt {
    font-size: 0.87rem;
  }
}

@media (max-width: 288px) {
  .form-subscribe__txt {
    font-size: 5.2vw;
  }
}

.form-subscribe__field {
  margin: 25px 0 0 0;
  padding: 20px 20px 20px 20px;
  border: 0;
  outline: 0;
  width: 66%;
  background-color: #424242;
  color: #ffffff;
  font-size: 17px;
}

@media (max-width: 1045px) {
  .form-subscribe__field {
    padding: 18px 18px 18px 18px;
    width: 500px;
    font-size: 0.87rem;
  }
}

@media (max-width: 596px) {
  .form-subscribe__field {
    padding: 16px 16px 16px 16px;
    width: 75%;
  }
}

@media (max-width: 288px) {
  .form-subscribe__field {
    margin: 10% 0 0 0;
    padding: 5vw 5vw 5vw 5vw;
    width: 80%;
    font-size: 5vw;
  }
}

.form-subscribe ::-webkit-input-placeholder {
  color: #979797;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .form-subscribe ::-webkit-input-placeholder {
    font-size: 0.81rem;
  }
}

@media (max-width: 288px) {
  .form-subscribe ::-webkit-input-placeholder {
    font-size: 5vw;
  }
}

.form-subscribe ::-moz-placeholder {
  color: #979797;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .form-subscribe ::-moz-placeholder {
    font-size: 0.81rem;
  }
}

@media (max-width: 288px) {
  .form-subscribe ::-moz-placeholder {
    font-size: 5vw;
  }
}

.form-subscribe :-moz-placeholder {
  color: #979797;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .form-subscribe :-moz-placeholder {
    font-size: 0.81rem;
  }
}

@media (max-width: 288px) {
  .form-subscribe :-moz-placeholder {
    font-size: 5vw;
  }
}

.form-subscribe :-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .form-subscribe :-ms-input-placeholder {
    font-size: 0.81rem;
  }
}

@media (max-width: 288px) {
  .form-subscribe :-ms-input-placeholder {
    font-size: 5vw;
  }
}

.form-subscribe ::-webkit-input-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe ::-moz-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe :-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe ::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe ::placeholder {
  color: #979797;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .form-subscribe ::-webkit-input-placeholder {
    font-size: 0.81rem;
  }
  .form-subscribe ::-moz-placeholder {
    font-size: 0.81rem;
  }
  .form-subscribe :-ms-input-placeholder {
    font-size: 0.81rem;
  }
  .form-subscribe ::-ms-input-placeholder {
    font-size: 0.81rem;
  }
  .form-subscribe ::placeholder {
    font-size: 0.81rem;
  }
}

@media (max-width: 288px) {
  .form-subscribe ::-webkit-input-placeholder {
    font-size: 5vw;
  }
  .form-subscribe ::-moz-placeholder {
    font-size: 5vw;
  }
  .form-subscribe :-ms-input-placeholder {
    font-size: 5vw;
  }
  .form-subscribe ::-ms-input-placeholder {
    font-size: 5vw;
  }
  .form-subscribe ::placeholder {
    font-size: 5vw;
  }
}

.form-subscribe__btn-subscribe {
  margin: 20px 0 0 0;
  padding: 18px 34px 18px 34px;
  font-size: 17px;
  color: #ffffff;
  font-family: "HelveticaBold", sans-serif;
  background-color: #2a2a2a;
  border: 2px solid #424242;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form-subscribe__btn-subscribe:hover {
  border: 2px solid #dd2a24;
}

@media (max-width: 1045px) {
  .form-subscribe__btn-subscribe {
    font-size: 0.93rem;
  }
}

@media (max-width: 596px) {
  .form-subscribe__btn-subscribe {
    padding: 15px 31px 15px 31px;
  }
}

@media (max-width: 288px) {
  .form-subscribe__btn-subscribe {
    margin: 10% 0 0 0;
    padding: 5% 10% 5% 10%;
    font-size: 5.5vw;
  }
}

/*----Footer----*/
.footer {
  padding: 30px 0 25px 0;
  background-color: #424242;
}

.footer__box-info {
  text-align: center;
}

.footer__txt {
  margin: 0;
  color: #979797;
  font-size: 14px;
}

@media (max-width: 1045px) {
  .footer__txt {
    font-size: 0.81rem;
  }
}

@media (max-width: 288px) {
  .footer__txt {
    font-size: 5vw;
  }
}

@media (max-width: 1045px) {
  .footer {
    padding: 2% 0 2% 0;
  }
}

.author__txt {
  margin: 10px 0 0 0;
  font-size: 12px;
  color: rgba(255, 255, 0, 0.5);
  letter-spacing: 1px;
}

@media (max-width: 1045px) {
  .author__txt {
    font-size: 0.68rem;
  }
}

@media (max-width: 288px) {
  .author__txt {
    font-size: 4vw;
  }
}

.author__link {
  color: rgba(255, 255, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.author__link:hover {
  color: rgba(80, 255, 0, 0.5);
}

.w3c-mark {
  margin: 2.5% 0 0 0;
  text-align: center;
}

@media (max-width: 288px) {
  .w3c-mark {
    display: none;
  }
}

/*# sourceMappingURL=final-style.css.map */
