@charset "UTF-8";
/*Шрифты для сайта*/
@font-face {
  font-family: 'GeorgiaBold';
  src: url("../fonts/GeorgiaBold/GeorgiaBold.ttf");
  src: url("../fonts/GeorgiaBold/GeorgiaBold.eot"), url("../fonts/GeorgiaBold/GeorgiaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GeorgiaBold/GeorgiaBold.woff2") format("woff2"), url("../fonts/GeorgiaBold/GeorgiaBold.woff") format("woff"), url("../fonts/GeorgiaBold/GeorgiaBold.svg#GeorgiaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  src: url("../fonts/HelveticaBold/HelveticaBold.ttf");
  src: url("../fonts/HelveticaBold/HelveticaBold.eot"), url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaBold/HelveticaBold.woff2") format("woff2"), url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"), url("../fonts/HelveticaBold/HelveticaBold.svg#HelveticaBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaLight';
  src: url("../fonts/HelveticaLight/HelveticaLight.ttf");
  src: url("../fonts/HelveticaLight/HelveticaLight.eot"), url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaLight/HelveticaLight.woff2") format("woff2"), url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"), url("../fonts/HelveticaLight/HelveticaLight.svg#HelveticaLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaRegular';
  src: url("../fonts/HelveticaRegular/HelveticaRegular.ttf");
  src: url("../fonts/HelveticaRegular/HelveticaRegular.eot"), url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaRegular/HelveticaRegular.woff2") format("woff2"), url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"), url("../fonts/HelveticaRegular/HelveticaRegular.svg#HelveticaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSansRegular/OpenSansRegular.ttf");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot"), url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff2") format("woff2"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* ----HTML----*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*----CLEARFIX----*/
.clearfix::after {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}

/* ----BODY----*/
.page {
  padding: 0;
  font-size: 16px;
  font-family: "OpenSansRegular", sans-serif;
  color: #424242;
  background-color: #ffffff;
}

/* ----CONTAINER---*/
.container {
  max-width: 1024px;
  margin: auto;
}

/*----Header----*/
.header__contact-info {
  /*Eсли не нужно использовать info-phone_decor-line_vertical*/
  /*(вертикальную линию возле номера телефона)*/
  /*Тогда снять комментарий с padding */
  /*и закомментировать селектор header__info-phone_decor-line_vertical*/
  /*padding: 7px 0 10px 0;*/
  text-align: right;
  background-color: #f0f2f4;
  -webkit-box-shadow: 0px 2px 4px -2px #b9b9b9;
          box-shadow: 0px 2px 4px -2px #b9b9b9;
}

.header__info-phone {
  display: inline-block;
}

.header__info-phone_decor-line_vertical {
  border-right: 1px solid #d6d6d6;
  height: 40px;
  padding: 9px 9px 0 0;
}

.header__ico-phone {
  vertical-align: -3px;
  font-size: 24px;
}

@media (min-width: 3840px) {
  .header__ico-phone {
    vertical-align: baseline;
  }
}

.header__info-email {
  padding: 0 3px 0 18px;
  display: inline-block;
}

.header__ico-email {
  font-size: 19px;
}

.header__link {
  padding: 0 7px 0 10px;
  text-decoration: none;
  color: #424242;
  font-size: 15px;
  font-family: "HelveticaRegular", sans-serif;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__link:hover {
  color: #dd2a24;
}

.header__info-social-net {
  display: inline-block;
  margin: 0 7px 0 0;
  -webkit-border-radius: 12%;
          border-radius: 12%;
  background-color: #1287bf;
}

.header__ico-social-net {
  font-size: 19px;
}

.header__link-social-net {
  display: block;
  padding: 4px 7px 4px 7px;
  width: 26px;
  height: 26px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__link-social-net:hover {
  color: #fbe29d;
}

.header__control {
  padding: 40px 0 40px 0;
}

@media (min-width: 3840px) {
  .header__control {
    text-align: center;
  }
}

/*logo*/
.logo {
  display: inline-block;
  width: 24%;
}

@media (min-width: 3840px) {
  .logo {
    width: 26%;
  }
}

.logo__ico {
  margin: 0 5px 0 0;
  position: relative;
  left: -4px;
  font-size: 57px;
  color: #dd2a24;
  float: left;
}

.logo__heading {
  margin: 0;
  font-size: 37px;
  font-family: "HelveticaBold", sans-serif;
}

.logo__txt {
  margin: 0;
  font-size: 15px;
  font-family: "HelveticaRegular", sans-serif;
}

.container__navigation {
  margin: 0 0 0 176px;
}

@media (min-width: 3840px) {
  .container__navigation {
    margin: 0 0 0 25px;
  }
}

.navigation {
  display: inline-block;
}

/*Menu*/
.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style-type: none;
  display: inline-block;
  vertical-align: 21px;
}

.menu__link {
  text-decoration: none;
  text-transform: capitalize;
  font-family: "HelveticaBold", sans-serif;
  font-size: 15px;
  color: #424242;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu__link:hover {
  color: #dd2a24;
}

.menu__ico {
  margin: 0 15px 0 15px;
  font-size: 9px;
}

@media (min-width: 3840px) {
  .menu__ico {
    display: none;
  }
}

.container__box-button {
  margin: 0 0 0 16px;
}

@media (min-width: 3840px) {
  .container__box-button {
    float: right;
    margin: 12px 0 0 0;
  }
}

.box-button {
  display: inline-block;
  vertical-align: 20px;
}

/*Button*/
.btn {
  display: inline-block;
  padding: 10px 23px 10px 23px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "HelveticaBold", sans-serif;
  font-size: 15px;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  color: #fbe29d;
}

.btn_theme_bright {
  background-color: #dd2a24;
}

@media (min-width: 3840px) {
  .btn {
    padding: 10px 23px 13px 23px;
  }
}

/*-----------------------*/
/*----Section Hero----*/
.hero {
  min-height: 590px;
  background: #71796c url("../img/bg-hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.hero__box-info {
  padding: 164px 0 235px 0;
  text-align: center;
}

.hero__heading {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 48px;
  color: #ffffff;
}

.hero__txt {
  margin: 0;
  font-family: "HelveticaLight", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #ffffff;
}

.hero__box-button-big {
  display: inline-block;
  padding: 30px 0 0 0;
}

/*Button-Big*/
.btn-big {
  display: inline-block;
  padding: 21px 36px 21px 36px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  text-decoration: none;
  font-family: "HelveticaBold", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

.btn-big_theme_bright {
  background-color: #f8cd53;
}

.btn-big_theme_bright:hover {
  background-color: #dd2a24;
}

/*----Section About----*/
.about {
  background-color: #ffffff;
}

.about__box-info {
  padding: 90px 0 120px 0;
}

.about__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
}

.about__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
}

.about__decor-line {
  width: 50px;
  height: 6px;
  background-color: #424242;
  border: 0;
}

.about__list {
  margin: 45px 0px 0 0;
}

/*list*/
.list {
  padding: 0;
  text-align: center;
}

.list__item {
  list-style-type: none;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.list__item:nth-of-type(2) {
  margin: 0 31px 0 31px;
}

.list__pic {
  display: inline-block;
}

.list__pic_like {
  background-image: url(../img/sprite.png);
  background-position: -86px 0px;
  width: 83px;
  height: 79px;
}

.list__pic_book {
  background-image: url(../img/sprite.png);
  background-position: 0px -81px;
  width: 66px;
  height: 79px;
}

.list__pic_dialog {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 84px;
  height: 81px;
}

.list__title {
  margin: 20px 0 17px 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 22px;
}

.list__txt {
  margin: 0;
  padding: 0 20px 0 20px;
  font-size: 14px;
}

/*----Section Out Approch----*/
.approch {
  background-color: #f3f3f3;
}

.approch__box-info {
  padding: 90px 0 130px 0;
}

.approch__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
}

.approch__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
}

.approch__decor-line {
  width: 50px;
  height: 6px;
  background-color: #424242;
  border: 0;
}

.approch__list-extended {
  margin: 43px 0 0 0;
}

/*list-extended*/
.list-extended {
  padding: 0;
}

.list-extended__item {
  margin: 0 0 40px 0;
  list-style-type: none;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 1px 0px;
          box-shadow: 0px 0px 1px 0px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #ffffff;
}

.list-extended__item:last-child {
  margin: 0;
}

.list-extended__box-img {
  display: inline-block;
}

.list-extended__pic {
  width: 336px;
  height: 236px;
  vertical-align: bottom;
}

.list-extended__block-number {
  vertical-align: 85px;
  position: relative;
  right: 62px;
}

.list-extended__desc {
  display: inline-block;
  width: 554px;
  vertical-align: 80px;
}

.list-extended__desc_position_right {
  position: relative;
  right: 35px;
}

.list-extended__desc_position_left {
  text-align: right;
  position: relative;
  left: 30px;
}

.list-extended__title {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 18px;
}

.list-extended__txt {
  margin: 15px 0 0 0;
  font-size: 14px;
}

/*block-number*/
.block-number {
  display: inline-block;
  min-width: 100px;
  min-height: 100px;
  padding: 0px 31px 17px 36px;
  background-color: #dd2a24;
  border: 2px solid #ffffff;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.block-number_position_left {
  position: relative;
  left: 60px;
}

.block-number__num {
  text-align: center;
  font-family: "GeorgiaBold", sans-serif;
  font-size: 60px;
  color: #ffffff;
}

.block-number__txt {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.block-number__txt_position {
  position: relative;
  bottom: 10px;
}

/*----Section Work----*/
.work {
  background-color: #dd2a24;
}

.work__box-info {
  padding: 105px 0 50px 0;
}

.work__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
  color: #ffffff;
}

.work__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.work__decor-line {
  width: 50px;
  height: 6px;
  background-color: #424242;
  border: 0;
  background-color: #ffffff;
  border: 0;
}

.work__list-promo {
  margin: 50px 0 0 0;
}

/*List-promo*/
.list-promo {
  padding: 0;
}

.list-promo__item {
  background-color: #f35e59;
  list-style-type: none;
  display: inline-block;
}

.list-promo__item:nth-child(2) {
  position: relative;
  right: 5px;
  bottom: 84px;
}

.list-promo__item:nth-child(3) {
  position: relative;
  right: 9px;
}

.list-promo__item:nth-child(4) {
  position: relative;
  bottom: 84px;
  right: 13px;
}

.list-promo__ico {
  position: relative;
  bottom: 17px;
  font-size: 36px;
  color: #ffffff;
  opacity: 0.5;
}

.list-promo__box-info-text {
  margin: 85px 0 85px 0;
  text-align: center;
}

.list-promo__title {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 26px;
  color: #ffffff;
}

.list-promo__txt {
  margin: 0;
  font-family: "HelveticaBold", sans-serif;
  font-size: 16px;
  color: #ffffff;
}

.list-promo__pic {
  width: 251px;
  height: 253px;
  vertical-align: bottom;
}

/*----Section Application----*/
.application {
  background-color: #1287bf;
}

.application__box-info {
  padding: 85px 0 115px 0;
  text-align: center;
}

.application__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
  color: #ffffff;
}

.application__txt {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: "HelveticaLight", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

.application__btn-open {
  margin: 10px 0 20px 0;
}

.application__figure-triangle {
  vertical-align: bottom;
}

.btn-open {
  display: inline-block;
  padding: 10px 16px 10px 16px;
  border: 2.5px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn-open__ico {
  font-size: 36px;
  color: #ffffff;
}

.btn-open:hover {
  background-color: #4CAF50;
}

.figure-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 35px solid #ffffff;
}

/*form*/
.form {
  margin: 0 170px 0 170px;
  padding: 50px 50px 65px 50px;
  position: relative;
  background-color: #ffffff;
}

.form__btn-close {
  display: inline-block;
  padding: 1px 15px 7px 15px;
  position: absolute;
  top: -23px;
  right: -20px;
  text-decoration: none;
  font-family: "HelveticaLight", sans-serif;
  font-size: 32px;
  background-color: #dd2a24;
  color: #ffffff;
  border: 2.5px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.form__btn-close:hover {
  background-color: #b7211c;
  font-weight: 600;
}

.form__txt {
  margin: 0 0 35px 0;
  font-family: "HelveticaRegular", sans-serif;
}

.form__field:nth-of-type(2) {
  margin: 10px 0 10px 0;
}

.form__field {
  padding: 18px 25px 18px 25px;
  width: 75%;
  outline: 0;
  font-size: 14px;
  font-family: "HelveticaRegular", sans-serif;
  border: 1px solid #b5b4b4;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.form__field:focus {
  -webkit-box-shadow: 0px 0px 2px 1px #1287bf;
          box-shadow: 0px 0px 2px 1px #1287bf;
}

.form__btn-submit {
  margin: 32px 0 0 0;
  padding: 15px 27px 15px 27px;
  border: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  letter-spacing: 0.5px;
  font-family: "HelveticaBold", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #dd2a24;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form__btn-submit:hover {
  background-color: #4CAF50;
}

/*----Section Contact----*/
.contact {
  background-color: #2a2a2a;
}

.contact__box-info {
  padding: 80px 0 80px 0;
  text-align: center;
}

.contact__heading {
  margin: 0;
  text-align: center;
  font-family: "HelveticaBold", sans-serif;
  font-size: 36px;
  color: #ffffff;
  font-size: 30px;
}

.contact__list-links {
  margin: 30px 0 0 0;
}

.contact__form-subscribe {
  margin: 35px 0 0 0;
}

/*List-links*/
.list-links {
  padding: 0;
}

.list-links__item {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px 0 0;
}

.list-links__item:last-child {
  margin: 0;
}

.list-links__link {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: 2px solid #424242;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.list-links__link:hover {
  border: 2px solid #dd2a24;
}

.list-links__ico {
  font-size: 23px;
  vertical-align: -15px;
  color: #ffffff;
}

/*form-subscribe*/
.form-subscribe__txt {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-family: "HelveticaRegular";
}

.form-subscribe__field {
  margin: 25px 0 0 0;
  padding: 20px 20px 20px 20px;
  border: 0;
  outline: 0;
  width: 66%;
  background-color: #424242;
  color: #ffffff;
  font-size: 17px;
}

.form-subscribe ::-webkit-input-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe ::-moz-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe :-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe ::-ms-input-placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe ::placeholder {
  color: #979797;
  font-size: 14px;
}

.form-subscribe__btn-subscribe {
  margin: 20px 0 0 0;
  padding: 18px 34px 18px 34px;
  font-size: 17px;
  color: #ffffff;
  font-family: "HelveticaBold", sans-serif;
  background-color: #2a2a2a;
  border: 2px solid #424242;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form-subscribe__btn-subscribe:hover {
  border: 2px solid #dd2a24;
}

/*----Footer----*/
.footer {
  padding: 30px 0 30px 0;
  background-color: #424242;
}

.footer__box-info {
  text-align: center;
}

.footer__txt {
  margin: 0;
  color: #979797;
  font-size: 14px;
}

.author__txt {
  margin: 10px 0 0 0;
  font-size: 12px;
  color: rgba(255, 255, 0, 0.5);
  letter-spacing: 1px;
}

.author__link {
  color: rgba(255, 255, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.author__link:hover {
  color: rgba(80, 255, 0, 0.5);
}

/*# sourceMappingURL=final-style.css.map */
