//Список промо для сайта landing-business.hw
/*List-promo*/
.list-promo {
    padding: 0;
    &__item{
       background-color: #f35e59;
       list-style-type: none;
       display: inline-block;
       
       //Эффекты для List-promo
       &:hover .list-promo__ico {
            text-shadow: 0px 4px 1px #424242db;
            opacity: 1;
            color: #f7d50b;
        }
        &:hover .list-promo__title {text-shadow: 0px 4px 1px #424242db;}
        &:hover .list-promo__txt {text-shadow: 0px 4px 1px #424242db;}
        &:hover .list-promo__pic {filter: saturate(200%);}
        
       //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) { 
            display: table-row;
            min-width: 475px;
            box-shadow: 0px 0px 4px 0px #000000;
        }
        
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){width: 100%;}
    }
    &__item:nth-child(2) {
        position: relative;
        right: 5px;
        bottom: 84px;
    }
    &__item:nth-child(3) {
        position: relative;
        right: 9px;
    }
    &__item:nth-child(4) {
        position: relative;
        bottom: 84px;
        right: 13px;
    }
    &__ico{
        position: relative;
        bottom: 17px;
        font-size: 36px;
        color: $c-light;
        opacity: 0.5;
        transition: 0.5s;
        transition-property: text-shadow, color,  opacity;
        
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) { font-size: 2.12rem;}
       
       //медиа-запрос смартфон
       @media (max-width: $bp-smartphone ){font-size: 1.8rem;}
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {
           font-size: 9vw;
           bottom: 6px;
       }
    }
    &__box-info-text{
        margin: 85px 0 85px 0;
        text-align: center;
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) { 
           margin: 0;
           padding: 85px 0 50px 0;
       }
       
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){padding: 15% 0 10% 0;}
    }
    &__title{
        margin: 0;
        font-family: $f-bold, sans-serif;
        font-size: 26px;
        color: $c-light;
        transition: 0.5s;
        transition-property: text-shadow;
       
    
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) { font-size: 1.5rem;}
       
       //медиа-запрос смартфон
       @media (max-width: $bp-smartphone ){font-size: 1.4rem;}
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {font-size: 7vw;}
    }
    &__txt {
        margin: 0;
        font-family: $f-bold, sans-serif;
        font-size: 16px;
        color: $c-light;
        transition: 0.5s;
        transition-property: text-shadow;
        
        
        //медиа-запрос нетбуки
        @media (max-width: $bp-netbook ) { font-size: 0.87rem;}
        
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){font-size: 0.84rem;}
        
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}

    }
    &__pic{
        width: 251px;
        height: 253px;
        vertical-align: bottom;
        transition: 0.5s;
        transition-property: filter;
        
        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) {
            width: 310px;
            height: auto;
            
            &_position_bottom {
                
                padding: 0 0 70px 0;
            }
            &_position_top {
                
                padding: 70px 0 0 0;
            }
        }
        
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){
            width: 70%;
            
            &_position_bottom {
                
                padding: 0 0 15% 0;
            }
            &_position_top {
                
                padding: 15% 0 0 0;
            }
        }
    }
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) { 
        margin: auto;
        display: table;
        width: 400px;
        border-spacing: 0 20px;
        text-align: center;
    }
    
    //медиа-запрос смартфон
    @media (max-width: $bp-smartphone ){width: 68%;}
}