//Список ссылок (социальных сетей) для сайта landing-business.hw
/*List-links*/
.list-links {
    padding: 0;
    &__item {
       list-style-type: none;
       display: inline-block;
       margin: 0 15px 0 0;
    
       &:last-child {margin: 0;}
       
     //медиа-запрос смартфон
    @media (max-width: $bp-smartphone ){margin: 0 1.7% 0 0;}  
    
    }
    &__link {
        display: inline-block;
        width: 50px;
        height: 50px;
        text-decoration: none;
        border: 2px solid $c-dark;
        border-radius: 4px;
        transition: 0.5s;
        
        &:hover {
            border: 2px solid $c-accent;
            
            //медиа-запрос смартфон маленький экран
            @media (max-width: $bp-smartphone-sm ) {border: none;}
        }
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {
           width: 48px;
           height: 48px;
       }
       
       //медиа-запрос смартфон
       @media (max-width: $bp-smartphone ){
           width: 42px;
           height: 42px;
       }
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {
           width: auto;
           height: auto;
           border: none;
       }
    }
   
    &__ico {
        font-size: 23px;
        vertical-align: -15px;
        color: $c-light;
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {font-size: 1.31rem;}
       
       //медиа-запрос смартфон
       @media (max-width: $bp-smartphone ){
           font-size: 1.3rem;
           vertical-align: -13px;
       }
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {
           padding: 10% 10% 10% 10%;
           font-size: 8vw;
           color: #fb8686;
           vertical-align: middle;
           transition: 0.5s;
           transition-property: color;
           
           &:hover {color: $c-accent;}
       }
        
    }
    
}

