////Work стили для сайта landing-business.hw
/*----Section Work----*/
.work{
   background-color: $c-accent;
   &__box-info{padding: 105px 0 50px 0;}
   &__heading {
       @include title;
       @include bright-txt;
   }
   &__txt {
       @include subtitle;
       @include bright-txt;
   }  
   &__decor-line{
       @include line-bold;
       @include line-bright;
   }
   &__list-promo {margin: 50px 0 0 0;}
}
   //list-promo
@import "app/sass/blocks/list-promo/_list-promo.scss";