//Большая кнопка для сайта landing-business.hw
/*Button-Big*/
.btn-big{
    display: inline-block;
    padding: 21px 36px 21px 36px;
    border-radius: 7px;
    text-decoration: none;
    font-family: $f-bold, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    color: $c-light;
   
    
    &_theme_bright{
        background-color: #f8cd53;
        transition: 0.7s;
        transition-property:  background-color;
        &:hover {background-color: $c-accent;}
    }
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {
        padding: 24px 36px 21px 36px;
        font-size: 1.25rem;
    } 
    
    //медиа-запрос смартфон
    @media (max-width: $bp-smartphone ){
        padding: 6% 4% 4% 4%;
        font-size: 1.22rem;
        
    }
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {font-size: 6vw;}
}

