//Переменные для сайта landing-business.hw

//Цвет
$c-accent: #dd2a24;
$c-dark: #424242;
$c-light: #ffffff;
$c-green: #4CAF50;

//Шрифт
$f-base: 'OpenSansRegular';
$f-bold: 'HelveticaBold';
$f-light: 'HelveticaLight';
$f-num: 'GeorgiaBold';
$f-normal:'HelveticaRegular';
$f-safe: 'ArialRegular';


//Медиа-запрос. Точки перехода
$bp-ultra: 5120px;
$bp-4k: 3840px;
$bp-netbook: 1045px;
$bp-tablet: 960px;
$bp-smartphone: 596px;
$bp-smartphone-sm: 288px;
$bp-screen-small: 240px;
