//Переменные для сайта landing-business.hw

//Цвет
$c-accent: #dd2a24;
$c-dark: #424242;
$c-light: #ffffff;

//Шрифт
$f-base: 'OpenSansRegular';
$f-bold: 'HelveticaBold';
$f-light: 'HelveticaLight';
$f-num: 'GeorgiaBold';
$f-normal:'HelveticaRegular';