//Миксины  для сайта landing-business.hw
//Для заголовков
@mixin title {
       margin: 0;
       text-align: center;
       font-family: $f-bold, sans-serif;
       font-size: 36px;
       //Добавил для кроссбраузерности и кроссплатформенности
       //что бы Firefox в Linux не делала слишком жирный шрифт
       font-weight: normal;
}
//Для подзаголовок
@mixin subtitle {
       margin: 0 0 10px 0;
       text-align: center;
       font-family: $f-light, sans-serif;
       font-size: 20px;
}
//Для линии
@mixin line-bold {
       width: 50px;
       height: 6px;
       background-color: $c-dark;
       border: 0;
}
//светлый стиль для заголовков и подзаголовка
@mixin bright-txt {color: $c-light;}
//светлый стиль для линии
@mixin line-bright {
    background-color: $c-light;
    border: 0;
}

// For block with step number
@mixin block-number-after {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: $c-accent; 
    border: 2px solid;
    border-color: $c-light;
    border-radius: 7px;
    color: $c-light;
    font-family: $f-num;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}
@mixin block-number-before {
    position: absolute;
    color: $c-light;
    font-size: 20px;
    z-index: 1;
}