// Mixins for landing-business.hw
// For headers
@mixin title {
  margin: 0;
  text-align: center;
  font-family: $f-bold, sans-serif;
  font-size: 36px;
  font-weight: normal;
}
// For subtitle
@mixin subtitle {
  margin: 0 0 10px 0;
  text-align: center;
  font-family: $f-light, sans-serif;
  font-size: 20px;
}
// For line
@mixin line-bold {
  width: 50px;
  height: 6px;
  background-color: $c-dark;
  border: 0;
}
// light style for headings and subtitles
@mixin bright-txt {
  color: $c-light;
}
// light line style
@mixin line-bright {
  background-color: $c-light;
  border: 0;
}

// For block with step number
@mixin block-number-after {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: $c-accent;
  border: 2px solid;
  border-color: $c-light;
  border-radius: 7px;
  color: $c-light;
  font-family: $f-num;
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
}
@mixin block-number-before {
  position: absolute;
  color: $c-light;
  font-size: 20px;
  z-index: 1;
}
