//Обертка для кнопки
.container {
    &__box-button {
        margin: 4px 0 0 25px; //0 0 0 16px
        
        //медиа-запрос для 4k экранов
        //также позволяет в шапке избежать переход логотипа, меню и кнопки на
        //новую строку при зуме 33% , 25% (Ctrl -) в браузерах Chrome, Opera.
        @media (min-width: $bp-4k ) {
            float: right;
            margin: 0;//12px 0 0 0;
        }
        
        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) {
            float: right;
            margin: 0 2px 0 0;//0.5% 0.7% 0 0
        }
    }

}
.box-button {
    display: inline-block;
    vertical-align: 22px; //20px
    
    //медиа-запрос планшет
    @media (max-width: $bp-tablet ) {display: none;}

}