//Button Wrap
.container {
  &__box-button {
    margin: 4px 0 0 0;

    //media query for 4k screens
    //also allows you to avoid the transition of the logo,
    //menu and button to a new line in the header with a zoom of 33%, 25%
    @media (min-width: $bp-4k) {
      margin: 0;
    }

    @media (max-width: $bp-netbook) {
      float: right;
      margin: 0 2px 0 0;
    }
  }
}
.box-button {
  display: block;
  float: right;

  @media (max-width: $bp-tablet) {
    display: none;
  }
}

// I have a little regret that I did just that
// but still this solution suits me for today.
// Yandex browser does not add it when translating a site into Russian
// no third-party classes, I had to make an attribute selector
// and it works. Now the button in the Yandex browser with a zoom of 33% 25% button
// does not crash or spoil the look. I remove the button.
// It also works in other browsers that translate the page into Russian
// root is html
.root[lang="ru"] {
  .box-button {
    @media (min-width: $bp-ultra) {
      display: none;
    }
  }
}
