//navigation 
.container__navigation {
    margin: 0 0 0 176px;
   //медиа-запрос для 4k экранов
   //также позволяет в шапке избежать переход логотипа, меню и кнопки на
   //новую строку при зуме 33% , 25% (Ctrl -) в браузерах Chrome, Opera.  
    @media (min-width: $bp-4k ) { margin: 0 0 0 25px;}
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) { margin: 0 0 0 5%;}

}
.navigation {display: inline-block}

//делаю вложенность что бы повысить значимость тем самым
//позволяю повлиять медиа-запросу сразу на два класса
//тем самым добиваюсь применения стилей в нужной последовательности
//также ухожу от ошибки при компиляции sass  которая возникает
//если медиа запрос записать  в вправило к .navigation
//а если в .container__navigation записать медиа-запрос
//то правила в запросе не переопределяют правило в .navigation
//тоесть display: inline-block так и остается
//поэтому было принято такое решение: 
.navigation.container__navigation{
    //медиа-запрос планшет
    @media (max-width: $bp-tablet ) {
        display: block;
        margin: 0;
        text-align: center;
    }
 }  
