//About Us
section#about.about
    div.container
        div.about__box-info
            h3.about__heading About Us
            p.about__txt We are added our major Services
            hr.about__decor-line
            ul.list.about__list
                li.list__item
                    div.list__pic.list__pic_like
                    h4.list__title Facebook Marketing
                    p.list__txt Lorem Ipsum is simply dummy text of the printing and 
                                |typesetting industry.  standard dummy text ever
                li.list__item
                    div.list__pic.list__pic_book
                    h4.list__title landing pages Creation
                    p.list__txt Lorem Ipsum is simply dummy text of the printing and 
                                |typesetting industry.  standard dummy text ever
                li.list__item
                    div.list__pic.list__pic_dialog
                    h4.list__title Ads management
                    p.list__txt Lorem Ipsum is simply dummy text of the printing and
                                |typesetting industry.  standard dummy text ever
//---------------