//Our Approch
section.approch
    div.container
        div.approch__box-info
            h3.approch__heading Our Approch
            p.approch__txt Check Our approches step by step ( how we do it )
            hr.approch__decor-line
            ul.list-extended.approch__list-extended
                li.list-extended__item
                    div.list-extended__box-img
                        img(src="img/camera-1x.png" srcset="img/camera-2x.png 2x" alt="фотоаппарат").list-extended__pic
                    div.block-number.list-extended__block-number
                        div.block-number__num 1
                        p.block-number__txt.block-number__txt_position step
                    div.list-extended__desc.list-extended__desc_position_right
                        h5.list-extended__title Step 1 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                li.list-extended__item
                    div.list-extended__desc.list-extended__desc_position_left
                        h5.list-extended__title Step 2 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                    div.block-number.list-extended__block-number.block-number_position_left
                        div.block-number__num 2
                        p.block-number__txt.block-number__txt_position step
                    div.list-extended__box-img.list-extended__box-img_position
                        img(src="img/track-1x.png" srcset="img/track-2x.png 2x" alt="дорога в горах").list-extended__pic
                li.list-extended__item
                    div.list-extended__box-img
                        img(src="img/table-1x.png" srcset="img/table-2x.png 2x" alt="уютный столик").list-extended__pic
                    div.block-number.list-extended__block-number
                        div.block-number__num 3
                        p.block-number__txt step
                    div.list-extended__desc.list-extended__desc_position_right
                        h5.list-extended__title Step 3 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                li.list-extended__item
                    div.list-extended__desc.list-extended__desc_position_left
                        h5.list-extended__title Step 4 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                    div.block-number.list-extended__block-number.block-number_position_left
                        div.block-number__num 4
                        p.block-number__txt step    
                    div.list-extended__box-img.list-extended__box-img_position
                        img(src="img/work-1x.png" srcset="img/work-2x.png 2x" alt="рабочий процесс").list-extended__pic