//Our Approch
section#approch.approch
    div.container
        div.approch__box-info
            h3.approch__heading Our Approch
            p.approch__txt Check Our approches step by step ( how we do it )
            hr.approch__decor-line
            ul.list-extended.approch__list-extended
                li.list-extended__item
                    div.list-extended__desc.list-extended__desc_position_right.list-extended__desc_position_bottom
                        h5.list-extended__title Step 1 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                li.list-extended__item
                    div.list-extended__desc.list-extended__desc_position_left
                        h5.list-extended__title Step 2 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                li.list-extended__item
                    div.list-extended__desc.list-extended__desc_position_right.list-extended__desc_position_bottom
                        h5.list-extended__title Step 3 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
                li.list-extended__item
                    div.list-extended__desc.list-extended__desc_position_left
                        h5.list-extended__title Step 4 : Heading Here
                        p.list-extended__txt Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.