//Application
section.application
    div.container
        div.application__box-info
            h3.application__heading Get Your Free Facebook Analysis Now
            p.application__txt Enter your details below
            div#btn-open.application__btn-open.btn-open
                    span.fa.fa-angle-down.btn-open__ico
            br
            form#form.form.application__form(action="#" method="POST" name="applicationForm")
                div.form__figure-triangle.figure-triangle
                div#btn-close.form__btn-close x
                p.form__txt Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                input.form__field(placeholder="Your Name" name="name" maxlength="20" type="text" value="")
                br
                input.form__field(placeholder="Contact Number" name="phone" maxlength="20" type="tel" value="")
                br
                input.form__field(placeholder="Company Name" name="company" maxlength="20" type="text" value="")
                br
                button.form__btn-submit(name="send" type="submit") SUBMIT NOW