//Application
section#application.application
    div.container
        div.application__box-info
            h3.application__heading Get Your Free Facebook Analysis Now
            p.application__txt Enter your details below
            div#btn-open.application__btn-open.btn-open(title="click me")
                    span.fa.fa-angle-down.btn-open__ico
            br
            form#form.form.application__form(action="php/checker-sender-form.php" method="POST" name="applicationForm")
                div#btn-close.form__btn-close
                    span.form__btn-close-ico
                p.form__txt Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
                input.form__field.form__field_active(type="text" name="name" placeholder="Your Name *" minlength="2" maxlength="40" pattern!="(?![\\s'-]*$)[^0-9}{!><*@#№$%^&=:;,.~+?)(|\\[\\]\\\\\\/&quot;]*" title="Example: Alexander" required)
                div.tooltip.form__tooltip
                    p.tooltip__txt Please enter your name correctly. <br> Example: 
                        i Alexander
                br
                input.form__field.form__field_active(type="tel" name="phone" placeholder="Contact Number *" minlength="12" maxlength="24" pattern!="^\\+\\d{0,1}[-]{0,1}\\d{1,3}\\s[\\(]\\d{1,4}[\\)]\\s\\d{3}[-]{0,1}\\d{2}[-]\\d{2}" title="Example: +7 (351) 240-04-40" required)
                div.tooltip.form__tooltip
                    p.tooltip__txt Please enter your phone number in international format. <br> Example: 
                        i +7 (351) 240-04-40
                br
                input.form__field.form__field_active(type="text" name="company" placeholder="Company Name" minlength="2" maxlength="40" pattern!="(?![\\s&'-]*$)[^0-9}{!><*@#№$%^=:;,.~+?)(|\\[\\]\\\\\\/&quot;]*" title="Example: Successful Company")
                div.tooltip.form__tooltip
                    p.tooltip__txt Please enter the company name correctly. <br> Example: 
                        i Successful Company
                br
                button.form__btn-submit(name="send" type="submit") SUBMIT NOW