//Footer
footer.footer
    div.container
        div.footer__box-info
            p.footer__txt Cssauthor.com <span class="fa fa-copyright footer__ico-copyright"></span> 2018 All Rights Reserved
            div.author
                p.author__txt Work performed 
                    a.author__link(href="https://www.facebook.com/baranovevgene" target="_blank") TechnoNinja
               
            