//Footer
footer.footer
    div.container
        div.footer__box-info
            p.footer__txt Cssauthor.com <span class="fa fa-copyright footer__ico-copyright"></span> 2018 All Rights Reserved
            div.author
                p.author__txt Work performed 
                    a.author__link(href="https://github.com/Evgeny-TechnoNinja" target="_blank") TechnoNinja
        //W3C
        p.w3c-mark
            a(href="http://jigsaw.w3.org/css-validator/check/referer")
                img(style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Правильный CSS!")