//Header
header.header
    div.header__contact-info
        div.container
            div.header__info-phone
                span.fa.fa-mobile(aria-hidden="true").header__ico-phone
                a.header__link(href="tel:63373128") 6337 3128
            div.header__info-email
                span.fa.fa-envelope(aria-hidden="true").header__ico-email
                a.header__link(href="mailto:info@business.co") info@business.co
            div.header__info-social-net
                a.fa.fa-facebook.header__ico-social-net.header__link-social-net(href="https://www.facebook.com/")
    div.header__control
        div.container
            div.logo.container__logo
                span.fa.fa-graduation-cap.logo__ico
                h2.logo__heading Business
                p.logo__txt Tagline goes here
            nav.navigation.container__navigation
                ul.menu
                    li.menu__item
                        a.menu__link(href="#") Home
                        span.fa.fa-circle.menu__ico
                    li.menu__item
                        a.menu__link(href="#") About Us
                        span.fa.fa-circle.menu__ico
                    li.menu__item
                        a.menu__link(href="#") Our Approch
                        span.fa.fa-circle.menu__ico
                    li.menu__item
                        a.menu__link(href="#")  Our Work
            div.box-button.container__box-button
                a.btn.btn_theme_bright(href="#") Free Consultation
                
//---------------