//Section Hero
a(name="hero")
section.hero
    div.container
        div.hero__box-info
            h1.hero__heading We Providing
            h2.hero__txt Social Media marketing for businesses
            div.hero__box-button-big
                a.btn-big.btn-big_theme_bright(href="tel:63373128") FREE CONSULTATION
//--------------- 