//Our Work
section.work
    div.container
        div.work__box-info
            h3.work__heading Our Work
            p.work__txt We are added our featured works below
            hr.work__decor-line
            ul.list-graphic.work__list-graphic
                li.list-graphic__item
                    span.fa.fa-paper-plane-o.list-graphic__ico
                    p.list-graphic__title Project Name
                    p.list-graphic__txt Facebook marketing
                li.list-graphic__item
                    img(src="img/list-camera-1x.png" alt="фотоаппарат" srcset="img/list-camera-2x.png 2x").list-graphic__pic
                li.list-graphic__item
                    span.fa.fa-paper-plane-o.list-graphic__ico
                    p.list-graphic__title Project Name
                    p.list-graphic__txt Landing page
                li.list-graphic__item
                    img(src="img/list-tree-1x.png" alt="дерево и мох" srcset="img/list-tree-2x.png 2x").list-graphic__pic
            ul.list-graphic.work__list-graphic
                li.list-graphic__item
                    img(src="img/list-pier-1x.png" alt="деревянный причал" srcset="img/list-pier-2x.png 2x").list-graphic__pic
                li.list-graphic__item
                    span.fa.fa-paper-plane-o.list-graphic__ico
                    p.list-graphic__title Project Name
                    p.list-graphic__txt Landing page
                li.list-graphic__item
                    img(src="img/list-path-1x.png" alt="тропинка в лесу" srcset="img/list-path-2x.png 2x").list-graphic__pic
                li.list-graphic__item
                    span.fa.fa-paper-plane-o.list-graphic__ico
                    p.list-graphic__title Project Name
                    p.list-graphic__txt Facebook marketing