//Our Work
section.work
    div.container
        div.work__box-info
            h3.work__heading Our Work
            p.work__txt We are added our featured works below
            hr.work__decor-line
            ul.list-promo.work__list-promo
                li.list-promo__item
                    div.list-promo__box-info-text
                        span.fa.fa-paper-plane-o.list-promo__ico
                        p.list-promo__title Project Name
                        p.list-promo__txt Facebook marketing
                    img(src="img/list-pier-1x.png" alt="деревянный причал" srcset="img/list-pier-2x.png 2x").list-promo__pic
                li.list-promo__item
                    img(src="img/list-camera-1x.png" alt="фотоаппарат" srcset="img/list-camera-2x.png 2x").list-promo__pic
                    div.list-promo__box-info-text
                        span.fa.fa-paper-plane-o.list-promo__ico
                        p.list-promo__title Project Name
                        p.list-promo__txt Landing page
                li.list-promo__item
                    div.list-promo__box-info-text
                        span.fa.fa-paper-plane-o.list-promo__ico
                        p.list-promo__title Project Name
                        p.list-promo__txt Landing page
                    img(src="img/list-path-1x.png" alt="тропинка в лесу" srcset="img/list-path-2x.png 2x").list-promo__pic
                li.list-promo__item
                    img(src="img/list-tree-1x.png" alt="дерево и мох" srcset="img/list-tree-2x.png 2x").list-promo__pic    
                    div.list-promo__box-info-text
                        span.fa.fa-paper-plane-o.list-promo__ico
                        p.list-promo__title Project Name
                        p.list-promo__txt Facebook marketing
                    