doctype html
html(lang='xxz')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    //favicon
    link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
    link(rel="manifest" href="img/favicon/site.webmanifest")
    link(rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="img/favicon/favicon.ico")
    meta(name="apple-mobile-web-app-title" content="anding-business")
    meta(name="application-name" content="anding-business")
    meta(name="msapplication-TileColor" content="#b91d47")
    meta(name="msapplication-config" content="img/favicon/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    //------
    title Landing Business
    link(rel="stylesheet" href="css/base-style.css")
    link(rel="stylesheet" href="css/final-style.css")
  body.page
    include section/_header.pug
    include section/_hero.pug
    include section/_about.pug
    include section/_approch.pug
    include section/_work.pug
    include section/_application.pug
  