//Список для сайта landing-business.hw
/*list*/
.list  {
  padding: 0;
  text-align: center;
  &__item {
      list-style-type: none;
      display: inline-block;
      width: 30%;
      vertical-align: top;
      
      //медиа-запрос планшет
      @media (max-width: $bp-tablet ) {
            padding: 0 15% 0 15%;
            display: block;
            width: 100%;
            vertical-align: 0;
      }
      
      //медиа-запрос смартфон маленький экран
      @media (max-width: $bp-smartphone-sm ) {padding: 0 1% 0 1%;}
      
  }  
  &__item:nth-of-type(2) { 
      margin: 0 31px 0 31px;
      
      //медиа-запрос нетбуки
      @media (max-width: $bp-netbook ) {margin: 0 1% 0 1%;}
      
      //медиа-запрос планшет
      @media (max-width: $bp-tablet ) {margin: 5% 0% 5% 0%;}
  }
  &__pic {
      display: inline-block;
      &_like {@include sprite($like)}
      &_book {@include sprite($book)}
      &_dialog {@include sprite($dialog)}
  }
  &__title {
      margin: 20px 0 17px 0;
      font-family: $f-bold, sans-serif;
      font-size: 22px;
      //медиа-запрос нетбуки
      @media (max-width: $bp-netbook ) {font-size: 1.1rem;}
      
      //медиа-запрос смартфон маленький экран
      @media (max-width: $bp-smartphone-sm ) {font-size: 6vw;}
  }
  &__txt {
      margin: 0;
      padding: 0 20px 0 20px;
      font-size: 14px;
      
      //медиа-запрос нетбуки
      @media (max-width: $bp-netbook ) {font-size: 0.83rem;}
      
      //медиа-запрос смартфон маленький экран
      @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
  }
}

