//Блок с большой цифрой. Стили для сайта landing-business.hw
/*block-number*/
.block-number {
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    padding:0px 31px 11px 30px;//0px 31px 17px 36px
    background-color: $c-accent;
    border: 2px solid $c-light;
    border-radius: 6px;
    transition: 0.3s;
    transition-property: background-color;
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {
        margin: 0 0 23% 0;
        padding: 0px 3% 7% 3%;
        min-width: 30vw;
        min-height: auto;
    }
    
    &_position_left {
        position: relative;
        left: 58px; //60px
        
        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) {left: 0;}
    }
    &__num {
        text-align: center;
        font-family: $f-num, sans-serif;
        font-size: 60px;
        color: $c-light;
        
        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) {font-size: 3.4rem;}
        
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {font-size: 20vw;}
    } 
    &__txt{
        margin: 0; //
        text-align: center;
        font-family: $f-bold, sans-serif;
        font-size: 20px;
        color: $c-light;
        &_position{
            position: relative;
            bottom: 8px; //10px
        }
        
        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) {font-size: 1rem;}
        
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {display: none;}
    }
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) {
        position: relative;
        z-index: 1000;

        &_position_bottom {
            bottom: 55px;
            margin: 0 0 49px 0;

           //медиа-запрос смартфон маленький экран
            @media (max-width: $bp-smartphone-sm ) {bottom: 0;}
            
        }
        &_position_top {
            top: 63px;
            
            //медиа-запрос смартфон
            @media (max-width: $bp-smartphone ){top: 67px;}
             
            //медиа-запрос смартфон маленький экран
            @media (max-width: $bp-smartphone-sm ) {top: 20px;}
           
        }

    }
}
