//Блок с большой цифрой. Стили для сайта landing-business.hw
/*block-number*/
.block-number {
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    padding:0px 31px 17px 36px;
    background-color: $c-accent;
    border: 2px solid $c-light;
    border-radius: 6px;
    &_position_left {
        position: relative;
        left: 60px;
        
        //медиа-запрос ноутбуки
        @media (max-width: $bp-laptop ) {left: 0;}
    }
    &__num {
        text-align: center;
        font-family: $f-num, sans-serif;
        font-size: 60px;
        color: $c-light;
        
        //медиа-запрос ноутбуки
        @media (max-width: $bp-laptop ) {font-size: 3.4rem;}
    } 
    &__txt{
        margin: 0;
        text-align: center;
        font-family: $f-bold, sans-serif;
        font-size: 20px;
        color: $c-light;
        &_position{
            position: relative;
            bottom: 10px;
        }
        
        //медиа-запрос ноутбуки
        @media (max-width: $bp-laptop ) {font-size: 1rem;}
    }
    
    //медиа-запрос ноутбуки
    @media (max-width: $bp-laptop ) {
        position: relative;
        z-index: 1000;
        
        &_position_bottom {bottom: 55px;}
        &_position_top {top: 63px;}

    }
}
