//Footer для сайта landing-business.hw
/*----Footer----*/
.footer {
    padding: 30px 0 25px 0;
    background-color: $c-dark;
    &__box-info {text-align: center;}
    &__txt {
        margin: 0;
        color:#979797;
        font-size: 14px;
        
        //медиа-запрос нeтбуки
        @media (max-width: $bp-netbook ) { font-size: 0.81rem;}
        
        
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
    }
    &__ico-copyright {}
    
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) { padding: 2% 0 2% 0;}
}
  //author
@import "app/sass/blocks/author/_author.scss";
 //w3c mark
@import "app/sass/blocks/w3c-mark/_w3c-mark.scss";