//Кнопка "открыть (V)" для сайта landing-business.hw
.btn-open {
    display: inline-block;
    padding: 10px 16px 10px 16px;
    border: 2.5px solid $c-light;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
    animation-name: spin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    &__ico { 
        font-size: 36px;
        color: $c-light;
        
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {font-size: 2.12rem;}
       
       //медиа-запрос смартфон маленький экран
       @media (max-width: $bp-smartphone-sm ) {font-size: 12vw;}
    }
    
    &:hover {
        //Останавливаю анимацию
        animation-play-state: paused;
        //Убираю цвет выделения, который появляется при нажатии 
        //вокруг кнопки при просмотре сайта через мобильное устройство
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    
   
    @keyframes spin {
        /*Анимация для кнопки "open" */
        //зелёный
        0% { background-color: rgba(76, 175, 80, 0.4);}
        //зелёный
        25% { background-color: rgba(76, 175, 80, 0.6);}
        //зелёный
        50% {background-color: rgba(76, 175, 80, 0.9);}
        //голубой
        75% { background-color: rgba(5, 103, 150, 0.7);}
        //голубой
        85% { background-color: rgba(5, 103, 150, 0.6);}
        //голубой
        90% { background-color: rgba(5, 103, 150, 0.4);}
        //зелёный
        100% {background-color: rgba(76, 175, 80, 0.3);}

    }
    //медиа-запрос нeтбуки
    @media (max-width: $bp-netbook ) { 
        padding: 10px 16px 8px 16px;
        margin: 0 0 45px 0;
    }
    
    //медиа-запрос смартфон
    @media (max-width: $bp-smartphone ){padding: 6px 10px 5px 10px;}
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {
        padding: 1% 3% 1% 3%;
        border: 1.7px solid $c-light;
    }
}

