//Contact стили для сайта landing-business.hw
/*----Section Contact----*/
.contact {
    background-color: #2a2a2a;
    &__box-info {
        padding: 80px 0 80px 0;
        text-align: center;
    } 
   &__heading {
       @include title;
       @include bright-txt;
       font-size: 30px;
       
       //медиа-запрос нeтбуки
       @media (max-width: $bp-netbook ) {font-size: 1.75rem;}
   }
   &__list-links {margin: 30px 0 0 0;}
   &__form-subscribe {margin: 35px 0 0 0;}
}
    //list-links
@import "app/sass/blocks/list-links/_list-links.scss";
    //form-subscribe
@import "app/sass/blocks/form-subscribe/_form-subscribe.scss";    