//Logo для сайта landing-business.hw
/*logo*/
.container__logo {}

.logo {
    display: inline-block;
    width: 24%;
    //медиа-запрос для 4k экранов
    //также позволяет в шапке избежать переход логотипа, меню и кнопки на
    //новую строку при зуме 33% , 25% (Ctrl -) в браузерах Chrome, Opera.
    @media (min-width: $bp-4k ) {width: 26%;}
    
    //медиа-запрос нетбуки
    @media (max-width: $bp-netbook ) {
        margin: 0 0 0 1.5%;
        width: 28%;  
    }
    
    //медиа-запрос планшет
    @media (max-width: $bp-tablet ) {
        display: block;
        margin: 0 auto 3% auto;
        text-align: center;
        width: 100%;
    }
    
    //медиа-запрос смартфон маленький экран
    @media (max-width: $bp-smartphone-sm ) {margin: 0 auto 10% auto;}
    
    &__ico {
        margin: 0 5px 0 0;
        position: relative;
        left: -4px;
        font-size: 57px; 
        color: $c-accent;
        float: left;
        
        //медиа-запрос нетбуки
        @media (max-width: $bp-netbook ) {font-size: 3.4rem;}
        
        //медиа-запрос планшет
        @media (max-width: $bp-tablet ) {
            float: none;
            margin: 0;
            position: static;
            left: 0;
        }
        
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {font-size: 19vw;}
    }
    &__heading {
        margin: 0;
        font-size: 37px;
        font-family: $f-bold, sans-serif;
        //Добавил для кроссбраузерности и кроссплатформенности
        //что бы Firefox в Linux не делала слишком жирный шрифт
        font-weight: normal;
        
        //медиа-запрос нетбуки
        @media (max-width: $bp-netbook ) {font-size: 2rem;}
        
        //медиа-запрос планшет
        @media (max-width: $bp-tablet ) {letter-spacing: 2px;}
        
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){letter-spacing: 0;}
        
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {font-size: 12vw;}
    }
    &__txt {
        margin: 0;
        font-size: 15px;
        font-family: $f-normal, sans-serif;
        
        //медиа-запрос нетбуки
        @media (max-width: $bp-netbook ) {font-size: 1rem;}
        
        //медиа-запрос планшет
        @media (max-width: $bp-tablet ) {letter-spacing: 1px;}
        
        //медиа-запрос смартфон
        @media (max-width: $bp-smartphone ){letter-spacing: 0;}
        
        //медиа-запрос смартфон маленький экран
        @media (max-width: $bp-smartphone-sm ) {font-size: 5vw;}
    }
}

