//Logo для сайта landing-business.hw
/*logo*/
.container__logo {}

.logo {
    display: inline-block;
    width: 24%;
    //медиа-запрос для 4k экранов
    //также позволяет в шапке избежать переход логотипа, меню и кнопки на
    //новую строку при зуме 33% , 25% (Ctrl -) в браузерах Chrome, Opera.
    @media (min-width: 3840px ) {width: 26%;}
     
    &__ico {
        margin: 0 5px 0 0;
        position: relative;
        left: -4px;
        font-size: 57px; 
        color: $c-accent;
        float: left;
    }
    &__heading {
        margin: 0;
        font-size: 37px;
        font-family: $f-bold, sans-serif;
    }
    &__txt {
        margin: 0;
        font-size: 15px;
        font-family: $f-normal, sans-serif;
    }
}

